﻿@using Sitecore.Mvc
<!-- Two Column Left Layout Start -->
<script type="text/javascript" src="~/Scripts/home.js"></script>
<div id="breadcrumbs">
    @Html.Sitecore().Placeholder("breadcrumbs")
</div>

@*<div id="heading" class="row">
    <div class="col-md-12">
        <h1 class="pp-header">@Html.Sitecore().Field("heading")</h1>
    </div>
</div>*@

<!-- Optional Full Width Top Start -->
<div class="row">
    <div id="fulltop" class="col-md-12">
        @Html.Sitecore().Placeholder("fullwidthtop")
    </div>
</div>
<!-- Optional Full Width Top End -->
<!-- Main Body Row Start -->
<div class="row">
    <!-- Main Left Column Start -->
    <div id="left-column" class="col-md-7">
        @Html.Sitecore().Placeholder("content")
    </div>
    <!-- Main Left Column End -->
    <!-- Right Column Start -->
    <div id="right-column" class="col-md-5">
        @Html.Sitecore().Placeholder("rightsidebar")
    </div>
    <!-- Right Column End -->
</div>
<!-- Main Body Row End -->
<!-- Optional Full Width Bottom Start -->
<div id="fullbottom" class="col-md-12">
    @Html.Sitecore().Placeholder("fullwidthbottom")
</div>
<!-- Optional Full Width Bottom End -->
<!-- Two Column Left Layout End -->

