﻿@using Sitecore.Mvc
<!-- Two Column Left Layout Start -->
<script type="text/javascript" src="~/Scripts/home.js"></script>
<link href="~/Content/nonphysician.css" rel="stylesheet"/>

<!-- Optional Full Width Top Start -->
<div class="row">
    <div id="fulltop" class="col-md-12">
        @Html.Sitecore().Placeholder("fullwidthtop")
    </div>
</div>
<!-- Optional Full Width Top End -->
<!-- Main Body Row Start -->
<div class="row">
    <!-- Main Column Start -->
    <div id="left-column" class="col-md-12">
        <h2 class="size-24 marginT-0 align-center color-grey">@DateTime.Now.ToString("dddd, MMMM d")</h2>
        @Html.Sitecore().Placeholder("content")
    </div>
    <!-- Main Column End -->
</div>
<!-- Main Body Row End -->
<!-- Optional Full Width Bottom Start -->
<div id="fullbottom" class="col-md-12">
    @Html.Sitecore().Placeholder("fullwidthbottom")
</div>
<!-- Optional Full Width Bottom End -->
<!-- Two Column Left Layout End -->
<script>
    $('#home-link').attr('href', '/Non-Physician Home')
    $('.non-physician-header').show();
</script>

