﻿@using Sitecore.Mvc

<!-- One Column Layout Start -->
<div id="breadcrumbs">
    @Html.Sitecore().Placeholder("breadcrumbs")
</div>
@if (Html.Sitecore().Field("heading").ToString() != "")
{
    <div id="heading" class="row">
        <div class="col-md-12">
            <h1 class="pp-header">@Html.Sitecore().Field("heading")</h1>
        </div>
    </div>
}
<div id="center-column" class="col-md-12">
    @Html.Sitecore().Placeholder("content")
</div>
<!-- One Column Layout End -->
