﻿@using Sitecore.Mvc

<!-- Theme Start -->
<div id="theme-wrap">
    <!-- Header Start -->
    <div class="container-fluid no-padding">
        <header>
            @Html.Sitecore().Placeholder("header")
        </header>
    </div>
    <!-- Header End -->

    <!-- Sublayout Start -->
    <div class="container bg-white">
        <div id="sublayout">
            @Html.Sitecore().Placeholder("sublayout")
        </div>
    </div>
    <!-- Sublayout End -->

    <!-- Footer Start -->
    <div class="container-fluid">
        <footer class="row head-foot-no-right-margin">
            @Html.Sitecore().Placeholder("footer")
        </footer>
    </div>
    <!-- Footer End -->
</div>
<!-- Theme End -->
