﻿@using Sitecore.Mvc

<!-- Two Column Right Layout Start -->

<div id="breadcrumbs">
    @Html.Sitecore().Placeholder("breadcrumbs")
</div>

<div id="heading" class="row">
    <div class="col-md-12">
        <h1 class="pp-header">@Html.Sitecore().Field("heading")</h1>
    </div>
</div>

<!-- Optional Full Width Top Start -->
<div class="row">
    <div id="fulltop" class="col-md-12">
        @Html.Sitecore().Placeholder("fullwidthtop")
    </div>
</div>
<!-- Optional Full Width Top End -->

<!-- Main Body Row Start -->
<div class="row">
    <!-- Left Column Start -->
    <div id="left-column" class="col-md-4">
        <div class="landing-related-wrapper">
            <a class="hidden-md hidden-lg fa-toggle" data-toggle="collapse" href="#accordion-landing-related">
                <span class="site-search-filter-title">Related<i class="fa fa-angle-down float-right" style="font-size:40px;"></i></span>
            </a>
            <div id="accordion-landing-related">
                <hr class="hidden-md hidden-lg">
                @Html.Sitecore().Placeholder("leftsidebar")
            </div> <!--END #accordion-landing-related-->
        </div> <!--END landing-related-wrapper-->
    </div>
    <!-- Left Column End -->

    <!-- Main Right Column Start -->
    <div id="right-column" class="col-md-8">
        @Html.Sitecore().Placeholder("content")
    </div>
    <!-- Main Right Column End -->
</div>
<!-- Main Body Row End -->

<!-- Optional Full Width Bottom Start -->
<div id="fullbottom" class="col-md-12">
    @Html.Sitecore().Placeholder("fullwidthbottom")
</div>
<!-- Optional Full Width Bottom End -->

<!-- Two Column Right Layout End -->
