﻿@using Sitecore.Mvc
@model PP93Helix.Feature.PageContent.Models.ContactUs

@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new {id = "contactus"}))
{
    @Html.Sitecore().FormHandler("ContactUs", "SubmitContact")
    <link rel="stylesheet" href="~/Content/contactus.css"/>
     <div class="col-md-12">
        @Html.Sitecore().Field("SubHeading")
    </div>
    <div class="col-md-12">
        @Html.ValidationSummary("", new {@class = "label", style = "background-color:#f2dede"})
        @if (Model.Error!=null)
        {
            <label class="label-color">@Model.Error</label>
            <br/>
        }
        
        <label class="label-color">*</label> @Html.LabelFor(x => x.FirstName)
        @Html.TextBoxFor(x => x.FirstName, new {@class = "form-control", @required = "required"})
        @Html.ValidationMessageFor(x => x.FirstName)
        
        <br/>
        
        <label class="label-color">*</label> @Html.LabelFor(x=>x.LastName)
        @Html.TextBoxFor(x=>x.LastName, new {@class="form-control", @required="required"})
        @Html.ValidationMessageFor(x=>x.LastName)
        
        <br/>
        
        <label class="label-color">*</label>@Html.LabelFor(x=>x.Email)
        @Html.TextBoxFor(x=>x.Email, new {@class="form-control", @required="required"})
        @Html.ValidationMessageFor(x=>x.Email)
        
        <br/>
        
        <label class="label-color">*</label>@Html.LabelFor(x=>x.Subject)
        @Html.TextBoxFor(x=>x.Subject, new {@class="form-control", @required="required"})
        @Html.ValidationMessageFor(x=>x.Subject)
        
        <br />
        
        <label class="label-color">*</label>@Html.LabelFor(x=>x.Comments)
        @Html.TextAreaFor(x=>x.Comments, new {@class="form-control", @required="required"})
        @Html.ValidationMessageFor(x=>x.Comments)
        
        <br/>
        
        <input type="submit" value="Submit" id="btnSubmit" class="btn"/>
    </div>

}

