﻿@using Sitecore.Mvc;
@using Sitecore.Data.Fields;
@model PP93Helix.Feature.PageContent.Models.ResourceListing

<h3 class="align-center color-grey">@Model.ComponentTitle</h3>
<hr class="dark-hr marginT-5">

@if (Model.isValid)
{
    foreach (var item in Model.Resources)
    {
        <div class="resource-listing">
            <a target="_blank" href="@item.Path">
                @item.Title - <span class="color-fade-grey">@item.Date.DateTime.ToString("MMM") @item.Date.DateTime.ToString("dd")</span>
            </a>
        </div>
    }
} else
{
    <div>Please update Rendering Parameters and select target folder(s).</div>
}


