﻿<link href="~/Content/ppDataTable.css" rel="stylesheet" />
<script src="~/Scripts/BuildSelect.js"></script>
<script src="~/Scripts/oncall.js"></script>
@*Used for responsive dataTables.*@
<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css"/>
<script type="text/javascript" src="~/Scripts/datatables.min.js"></script>
<div class="container">
    <div class="row col-md-12">
      @Html.Sitecore().Field("SubHeading")
    </div>
</div>
