﻿@using Sitecore.Mvc
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
    <meta name="keywords" content="@Html.Sitecore().Field("seo keywords", new { DisableWebEdit = true })" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="CODE_LANGUAGE" content="C#" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/slick.css" />
    <link rel="stylesheet" href="~/Content/slick-theme.css" />
    <link rel="stylesheet" href="~/Content/fonts.css" />
    <link rel="stylesheet" href="~/Content/pp.css" />
    <link rel="stylesheet" href="~/Content/fap.css" />
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Content/fullcalendar.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.css" />

    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/fullcalendar.min.js"></script>
    <script type="text/javascript" src="~/Scripts/slick.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.twbsPagination.min.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    <script type="text/javascript" src="~/Scripts/PrintThis-plugin-1.12.2.js"></script>

</head>
<body>
    <div id="MainPanel">
        @Html.Sitecore().Placeholder("main")
    </div>


    <script type="text/javascript" src="~/Scripts/pp-profile.js"></script>
 
    <!-- Universal Modal -->
    <div id="universalModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title blue"></h4>
                </div>
                <div class="modal-body black">
                </div>
                <div class="modal-footer">
                    <button id="saveModal" type="button" class="btn btn-primary confirm-btn close-modal" data-dismiss="modal">Save</button>
                    <button id="cancelModal" type="button" class="btn btn-primary close-modal" data-dismiss="modal">Cancel</button>
                    <button id="closeModal" type="button" class="btn btn-primary close-modal" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Completed Task Modal -->
    <div id="taskModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title blue" id="taskname">Completed Task Submission</h4>
                    <h4 class="taskid hidden" id="taskid"></h4>
                    <h4 class="submitter hidden" id="doctorname"></h4>
                </div>
                <div class="modal-body black">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary close-modal" data-dismiss="modal">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
    // get facets
    var siteFacets;
    function querySiteFacets(query) {
        //console.log('querySiteFacets...')
        $.post('@Url.Action("SiteFacets", "SiteSearch")', query,
            function (data) {
                if (data.Status == "Error") {
                    console.log(data);
                } else {
                    siteFacets = data;
                }
            }).fail(function (data) {
                console.log(data);
            });

    }

        // typeahead
        //console.log('init typeahead');
    $('#gs-input, #gs-mobile-input, #site-search-input').autocomplete({
      source: function(request, response) {
        var specialties = $.ui.autocomplete.filter(parseSiteFacetsTypeahead(siteFacets.primaryspecialty_s, "Specialty"), request.term);
        $.ajax({
          type: "POST",
          url: '@Url.Action("SiteTypeahead", "SiteSearch")',
          data: "Query=" + request.term,
          dataType: "json",
          success: function(data) {
            if (data.Status != "Error") {
              response(parseSiteTypeahead(data).concat(specialties));
            }
          }
        })
      },
      minLength: 3
    });
        //    .each(function () {
        //    $(this).data("ui-autocomplete")._renderItem = function (ul, item) {
        //        var newLabel = String(item.label).replace(
        //                new RegExp(this.term.replace(/([^a-z0-9]+)/gi, ''), "gi"),
        //                "<strong>$&</strong>");
        //        var icon;
        //        if (item.type != '') {
        //            if (item.type == "Doctor") {
        //                icon = "fa-user-md";
        //            } else if (item.type == "Specialty") {
        //                icon = "fa-stethoscope";
        //            }
        //        }
        //        //var type = (item.type != "") ? "<span>{" + item.type + "}</span>" : "";

        //        return $("<li>")
        //            .data("ui-autocomplete-item", item)
        //            .append("<div><span class='fa " + icon + "'><span> " + newLabel + "</div>")
        //            .appendTo(ul);
        //    };
        //});
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89455287-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-89455287-13');
    </script>
    @*<script>
        setInterval("Page_Timeout();", 10000);

        function Page_Timeout() {
            alert("Refreshing page");
            //window.location = location.href;
        }
    </script>*@
</body>
</html>
