﻿@using System.Security.Claims
@using Sitecore.Mvc;
@using PP93Helix.Feature.PageContent.Models;
@model AppCatalogQuickLinks
@{
  var claim = ClaimsPrincipal.Current.Identities.First().Claims.FirstOrDefault(x => x.Type == "echoid");
  string echoID = "";
  echoID = claim!=null ? claim.Value : Sitecore.Context.GetUserName();
}
<div id="exTab1">
    <ul class="nav nav-pills marginB-10">
        <li style="" class="active">
            <a href="#one-a" data-toggle="tab">App Catalog</a>
        </li>
        <li style="">
            <a href="#two-a" data-toggle="tab">Quick Links</a>
        </li>
    </ul>
    <div class="mobile-custom">
        <div style="font-size:20px; position:center; padding:6.5%">
            Need the Citrix Receiver on your phone?
        </div>
        <div style="width:50%; height:50%; float:left" >
            <a href='https://itunes.apple.com/us/app/citrix-receiver/id363501921?mt=8&at=10l6Xd'><img alt='Download on the Apple App Store' src='https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg' style="display:block;overflow:hidden;width:100%;height:auto;background-size:contain;padding:6.45%"/></a>
        </div>
        <div style="width:50%; height:50%; float:left">
            <a href='https://play.google.com/store/apps/details?id=com.citrix.Receiver&hl=en_US&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' /></a>
        </div>
        <div style="padding-bottom:40px"></div>
    </div>
    <div class="tab-content clearfix">
        
        <div class="tab-pane active" id="one-a">
            <div class="appcenter-flex-div" style="">
                @if (Model.AppThumbs != null)
                {

                    foreach (var item in Model.AppThumbs)
                    {

                        <div class="appcenter-flex-child">
                            <a onclick="gtag('event', 'click', {eventCategory: 'Storefront link', 'event_label': '@item.AppTitle'}); getIcaFile('@Model.AppCred.SessionId', '@Model.AppCred.CsrfToken',  '@Model.AppCred.AuthID', 'https://sf.bmcjax.com/Citrix/PhysiciansWeb/@item.AppLaunchURL', 'https://sf.bmcjax.com/Citrix/PhysiciansWeb/@item.AppLaunchURL', '@item.AppTitle')" href="#"><img src="@item.AppIcon"></a>
                            <a onclick="gtag('event', 'click', {eventCategory: 'Storefront link', 'event_label': '@item.AppTitle'}); getIcaFile('@Model.AppCred.SessionId', '@Model.AppCred.CsrfToken', '@Model.AppCred.AuthID', 'https://sf.bmcjax.com/Citrix/PhysiciansWeb/@item.AppLaunchURL', 'https://sf.bmcjax.com/Citrix/PhysiciansWeb/@item.AppLaunchURL', '@item.AppTitle')" href="#"><p>@item.AppTitle</p></a>
                        </div>
                    }
                }
                else
                {
                    <div>Citrix is currently unavailable. Please contact Baptist Health support.!</div>
                }
            </div><!--END style=display:flex; div-->
        </div>
        <div class="tab-pane" id="two-a">
            <ul class="list-none  padL-5">
                @*@if (!string.IsNullOrWhiteSpace(Sitecore.Context.User.Profile.GetPropertyValue("EchoID").ToString()))*@
                @if (!string.IsNullOrWhiteSpace(echoID))
                {
                  
                    <div class="input_fields_wrap">
                        <div class="qlink-header">My Links</div>
                        @if (Model.QuickLinks != null)
                        {
                            foreach (var item in Model.QuickLinks)
                            {
                              <div class="addlink_dynlist">
                                <li class="addlink-li">
                                  <a class="addlink-a" target="_blank" linkid="@item.ID" echoid="@item.ECHOID" href="@item.LinkURL" onclick="gtag('event', 'click', { eventCategory: 'Quicklinks', 'event_label': '@item.LinkTitle' })">@item.LinkTitle</a>
                                  <span class="show_field" hidden>
                                    <i class="fa fa-times addlink_dynlistX remove_field hand-cursor "></i>|<i class="fa fa-pencil-square-o addlink-edit-icon hand-cursor" aria-hidden="true"></i>
                                  </span>
                                </li>
                              </div>
                            }
                        }

                    </div>
                    <li class="addlink_li">
                        <ul class="list-none addlink_tool padL-0 ">
                            <li>
                                <span class="opensans-bold adlink_text addlink_manage hand-cursor"><i class="fa fa-pencil adlink_fonts" aria-hidden="true"></i><span class="addlink_manage-txt">Manage Links</span></span>
                            </li>
                            <li>
                                <span class="opensans-bold adlink_text hand-cursor addlink-action"><i class="fa fa-plus adlink_fonts" aria-hidden="true"></i>Add Link</span>
                            </li>
                        </ul>
                    </li>
                    <hr style="border-top: 2px solid #eee;" />
                }
                <div class="qlink-header">Helpful Links</div>
                <div>
                    @if (Model.BHLinks != null)
                    {
                        foreach (var item in Model.BHLinks)
                        {
                    <div class="bhlinks">
                        <li><a class="addlink-a" target="blank" href="@item.LinkURL" onclick="gtag('event', 'click', {eventCategory: 'Quicklinks', 'event_label': '@item.LinkTitle'})">@item.LinkTitle</a></li>
                    </div>
                        }
                    }
                </div>
            </ul>
        </div>
    </div>
</div>
<script>
    function postQLinks() {
        var data = JSON.stringify(createQLinkJson());
        //console.log('data to post ', data);

        $.ajax({
            type: "POST",
            url: '@Url.Action("PostQuickLinks", "AppCatalogQuickLinks")',
            data: data,
            contentType: 'application/json',
            success: function (resp) {
                console.log('PostQuickLinks Success');
            },
            error: function (err) {
                console.log('PostQuickLinks Error');
            }
        });
    }

    function createQLinkJson() {
        var linkjson = $(".addlink_dynlist > li a").map(function (index, a) {
            //console.log(a);
            return { ID: a.attributes["linkid"].value, ECHOID: a.attributes["echoid"].value, LinkTitle: a.innerText, LinkURL: a.href };
        }).get();
        
        if (linkjson.length == 0) {
          linkjson = [
            {
              ID: null,
              ECHOID: $('#echoID').text(),
              LinkTitle: null,
              LinkURL: null
            }
          ];
        }

        return linkjson;
    }

    function getIcaFile(SessionId, CsrfToken, AuthID, AppID, AppLaunchURL, AppTitle) {
        var data =  JSON.stringify({
            SessionID: SessionId,
            CsrfToken: CsrfToken,
            AuthId: AuthID,
            AppID: AppID,
            LaunchURL: AppLaunchURL
        });
        console.log(data)
        $.ajax({
            type: "POST",
            url: '@Url.Action("DownloadICA", "AppCatalogQuickLinks")',
            data: data,
            contentType: 'application/json',
            success: function (response, status, request) {
                console.log(response);
                    var a = document.createElement('a');
                    console.log(response);
                    var url = response;
                    a.href = url;
                    document.body.appendChild(a);
                    console.log(AppTitle + ".ica");
                    a.click();
                    setTimeout(function () {
                        document.body.removeChild(a);
                        window.URL.revokeObjectURL(url);
                    }, 1000);
            },
            error: function (err) {
                console.log('Get ICA File Error = ' + err);
            }
        });
    }



</script>

