﻿@using Sitecore.Mvc;
@using Sitecore.Data.Items;
@model PP93Helix.Feature.PageContent.Models.Tags

<p>Tag info written to logs</p>
<ul>
    @foreach (Item tag in Model.theTags)
    {
        <li>@tag.Name</li>
    }
</ul>


