﻿@using Sitecore.Mvc
@{
    Layout = null;
}
<h1>@Html.Sitecore().Field("Title")</h1>
<h3>@Html.Sitecore().Field("Heading")</h3>
<p>@Html.Sitecore().Field("Body")</p>

<p>This is a View Rendering</p>
<p>No controller is needed because I only want to show static text/images</p>

@Html.Sitecore().Field("TestField")