﻿@using Sitecore.Mvc
@{
    Layout = null;
}
<h1>@Html.Sitecore().Field("Title")</h1>
<h3>@Html.Sitecore().Field("Heading")</h3>
<p>@Html.Sitecore().Field("Body")</p>

<p>This is a controller rendering</p>
<p>I could add extra logic in the controller and fill a model which I pass to this view.</p>


@Html.Sitecore().Field("TestField")