﻿<link href="~/Content/ppDataTable.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#schedules').DataTable({
            "dom": '<"top"i>rt<"bottom"flp><"clear">',
            "bAutoWidth": false,
            "paging": false,
            "ordering": false,
            "searching": false,
            "bInfo": false,
            "ajax": {
                "url": "/api/Sitecore/ORSchedules/GetORSchedules",
                "error": function (errResp) {
                    window.location.href = "../";
                },
                "dataSrc": function (json) {
                    if (json != null && json.data != null && json.data.length > 0) {
                        if (json.data == "no-access")
                            window.location.href = "../";
                        else
                            return JSON.parse(json.data);
                    }
                    else { return ""; }
                },
                "type": "GET",
                "datatype": "json"
            },
            "language": {
                "emptyTable": "No Schedules!"
            },
            "columns": [
                {
                    "data": "OrName",
                    "orderable": true,
                    render: function (data, type, row, meta) {
                        var link = '<a href="/api/Sitecore/ORSchedules/GetPGetSchedule?FILENAME=' + row.filename + "\"" + ' target="_blank">' + data + '</a>';
                        return link;
                    }
                },
            ],
            responsive: true,
            order: [[0, 'asc']],
        });
})

</script>
    <div>
        <table id="schedules" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
        </table>
</div>

