﻿@using Sitecore.Mvc;
@using PP93Helix.Feature.PageContent.Models
@model MediaLibrary
<div>
    <div>
        <hr align="center" noshade="noshade" width="100%" />
        @if (Model.FileList != null && Model.FileList.Count > 0)
        {
            foreach (MediaFiles a in Model.FileList)
            {
                <div class="col-md-12">
                    <div class="col-md-12">
                        <a href="@a.Path" target="_blank">@a.Title</a>
                    </div>
                </div>
            }
        }
    </div>
</div>

