﻿@using Sitecore.Data;
@using Sitecore.Data.Items;
@using PP93Helix.Feature.PageContent.Models;
@model PP93Helix.Feature.PageContent.Models.TaskManager

<script src="~/Scripts/taskManager.js"></script>

<h2 class="size-24 marginT-0 align-center color-grey">@DateTime.Now.ToString("dddd, MMMM d")</h2>

@if (Model.Tasks != null && Model.Tasks.Count > 0)
{
  <p class="blue-ribbon marginB-0 opensans-bold">Task List<span class="pill marginL-10 tasklisk-counter @(Model.Tasks.Count > 9 ? Html.Raw(".pill-large") : Html.Raw(""))">@Model.Tasks.Count</span></p>
  <div class="tasklist-wrapper">
    <ul>
      @foreach (MSTask t in Model.Tasks)
      {
        <li class="flex-row">
          <div>
            <label for="@t.ID">
              <input class="hidden-input submit-task" id="@t.ID" name="@t.ID" type="checkbox" value="@t.Task" checked="@t.IsSubmitted" />
              <span class="rounded-checkbox marginR-10"></span>
            </label>
            <input class="hidden-input" type="text" id="submitter" name="submitter" value="@t.DoctorName" />
          </div>
          <div>
            <span class="task-title">@t.Task</span>

            @if (t.IsSubmitted == null || t.IsSubmitted == false)
            {
              <p class="color-grey">Assigned by: Medical Staff Office<span class="@t.dueDateCSS() tasklist-date hidden-xs hidden-sm">Due: @t.DueDate.ToString("MM/dd/yy")</span></p>
            }
            else
            {
              string submitDate = t.SubmitDate != null ? ("Submitted: " + t.SubmitDate.Value.ToString("MM/dd/yy")) : "Submitted";
              <p class="color-grey">Submission Under Med Staff Review<span class="green-txt tasklist-date hidden-xs hidden-sm">@submitDate</span></p>
            }

          </div>
        </li>
      }
    </ul>
  </div>
}
else
{
  <p class="blue-ribbon marginB-0 opensans-bold">Task List<span class="pill marginL-10 tasklisk-counter">0</span></p>
  <div class="tasklist-wrapper">
    <ul>
      <li class="flex-row">
        No Pending Tasks
      </li>
    </ul>
  </div>
}

@*<script>
    $(document).ready(function () {
      var formID = $('#taskModal').find('form').attr('id');

      updateCounter();

      //If a Task Title is clicked, check the corresponding checkbox
      //Once a task is checked it should not be unchecked.
      $('.task-title').on('click', function () {
        var $checkbox = $(this).closest('li').find('.submit-task');

        if (!$checkbox.prop('checked')) {
          $checkbox.prop('checked', true).change();
        }

        updateCounter();
      });

      //If checkbox is checked, prepopulate fields & open modal
      $('.submit-task').on('change', function () {
        if ($(this).prop('checked')) {
          updateCounter();
          //Make Modal Title = Task Name
          $('#taskModal .modal-title').text($(this).val());
          $('#taskModal .taskid').text($(this).attr("id"));
          $('#taskModal .submitter').text(document.getElementById('submitter').value);

          //Populate and Hide Task Name Input
          $('input[name="' + formID + '.Sections[0].Fields[0].Value"]').val($(this).val());
          $('input[name="' + formID + '.Sections[0].Fields[0].Value"]').closest('.form-group').hide();

          //Populate and Hide Task ID Input
          var taskID = $(this).attr('id');
          $('input[name="' + formID + '.Sections[0].Fields[1].Value"]').val(taskID);
          $('input[name="' + formID + '.Sections[0].Fields[1].Value"]').closest('.form-group').hide();

          //Add Task ID to session storage as lastTaskID
          sessionStorage.setItem("lastTaskID", taskID);

          //Populate and Hide Physician's Name Input
          var name = $('#FN').text() + " " + $('#LN').text();
          $('input[name="' + formID + '.Sections[0].Fields[2].Value"]').val(name);
          $('input[name="' + formID + '.Sections[0].Fields[2].Value"]').closest('.form-group').hide();

          //Open Completed Task Form Modal
          $('#taskModal').modal({ backdrop: 'static', keyboard: true, show: true });
        }
      });

      //If modal is dismissed without valid submission, uncheck checkbox
      $('#taskModal').on('hide.bs.modal', function () {
        //Only uncheck the most recently checked task
        var lastTaskID = sessionStorage.getItem("lastTaskID");
        if (lastTaskID) {
          $('.submit-task[id="' + lastTaskID + '"]').prop('checked', false);
        }
        updateCounter();
      });
    });

    //Update Counter
    function updateCounter() {
      var numOpenTasks = $('.submit-task:not(:checked)').length;
      $('.tasklisk-counter').text(numOpenTasks);
    }
  </script>*@
