﻿@using Sitecore.Mvc;
@using Sitecore.Data;
@using Sitecore.Data.Items;
@using Sitecore.Links;
@model PP93Helix.Feature.PageContent.Models.JournalRequest
@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "journalrequest" }))
{
    @Html.Sitecore().FormHandler("JournalRequest", "SubmitJournalRequest")

    {
        var journalRequestID = new Sitecore.Data.ID("A240F832-8C1D-4EB3-BB51-192F596A461A");
        var journalRequestItem = Sitecore.Context.Database.GetItem(journalRequestID);
        var defaultUrlOptions = LinkManager.GetDefaultUrlBuilderOptions();
        defaultUrlOptions.EncodeNames = true;
        var path = LinkManager.GetItemUrl(journalRequestItem, defaultUrlOptions);
        <div class="size-14 marginB-40 align-center">
            <p class="align-left marginT-10 marginB-10">@Html.Raw(journalRequestItem.Fields["SubHeading"].Value)</p>
        </div>
        <fieldset>
            <legend>Basic Info</legend>
            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary("", new { @class = "label", style = "background-color:#f2dede" })

                    <label class="label-color">* </label>@Html.LabelFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(x => x.Name)

                    <br />

                    <label class="label-color">* </label>@Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(x => x.Email)

                    <br />
                    
                    <label class="control-label">@Html.LabelFor(x => x.CurrentDate)</label>
                    <div class="input-group date" id="datetimepicker1">
                        @Html.TextBoxFor(x => x.CurrentDate, new { @class = "form-control", @Value=Model.CurrentDate.ToString("MMM-dd-yyyy") })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <br />

                    <label class="control-label">@Html.LabelFor(x => x.DateNeededBy)</label>
                    <div class="input-group date" id="datetimepicker2">
                        @Html.TextBoxFor(x => x.DateNeededBy, new { @class = "form-control", @Value=Model.DateNeededBy.ToString("MMM-dd-yyyy") })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <br />

                    <label class="control-label">@Html.LabelFor(x => x.Professions)</label>
                    @Html.DropDownListFor(x => x.SelectedProfession, Model.Professions, new { @class = "form-control" })

                    <br />

                    <label class="control-label">@Html.LabelFor(x => x.Locations)</label>
                    @Html.DropDownListFor(x => x.SelectedLocation, Model.Locations, new { @class = "form-control" })

                    <br />

                    <label class="control-label">@Html.LabelFor(x => x.Dept)</label>
                    @Html.TextBoxFor(x => x.Dept, new { @class = "form-control" })

                    <br />

                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Request Information</legend>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">@Html.LabelFor(x => x.JournalArticleRequest)</label>
                    @Html.TextAreaFor(x => x.JournalArticleRequest, new { @class = "form-control" })

                    <br />

                    <label class="control-label">@Html.LabelFor(x => x.BookRequests)</label>
                    @Html.TextAreaFor(x => x.BookRequests, new { @class = "form-control" })

                    <br />
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Delivery Information</legend>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">@Html.LabelFor(x => x.DeliveryTypes)</label>

                    <br />
                    @foreach (var c in Model.DeliveryTypes)
                    {
                        <input type="checkbox" value="@c.Text" name="DeliveryTypes" />
                        <label class="labelNoWeight">@c.Text</label>
                        <br />
                    }

                    <br />

                    <label class="control-label">@Html.LabelFor(x => x.PhoneNumber)</label>
                    @Html.TextBoxFor(x => x.PhoneNumber, new { @id="PhoneNumber", @class = "form-control" })

                    <br />

                    @Html.CheckBoxFor(x => x.Rush) @Html.LabelFor(x => x.Rush)
                    <br />
                    <p>RUSH PATIENT CARE ONLY (ASAP, usually less than 4 hours if requested before noon)</p>
                </div>
            </div>
        </fieldset>

        <div class="form-submit-border">
            <input class="btn btn-default" type="submit" value="Submit" />
        </div>

        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    useCurrent: true,
                    locale: 'en-US',
                    format: "MMM-DD-YYYY"
                });
                $('#datetimepicker2').datetimepicker({
                    useCurrent: true,
                    locale: 'en-US',
                    format: "MMM-DD-YYYY"
                });
            });
        </script>
    }


}



