﻿.label-color {
    color: #a94442;
}

.label-color > ul > li {
    position: relative;
    display: block;
    padding: 10px 0;
    margin-bottom: -1px;
    border: 1px solid #ddd;
}

.has-error {
    border-color: #a94442 !important;
    box-shadow: inset 0 1px 19px rgba(0,0,0,.075);
}

.has-error-label {
    color: #a94442 !important;
}

.has-success {
    border-color: #3c763d !important;
    box-shadow: inset 0 1px 19px rgba(0,0,0,.075);
}

.has-success-label {
    color: #3c763d !important;
}