/*** Temp CSS ***/
.profile-details-wrapper .profile-details-div:first-child {
    display: none;
}
/***************/

ul.ui-autocomplete {
    z-index: 1001 !important /* Needed because white background overlap effect has zindex=1000  */
}
.submit-progress-bg {
    background-color: lightgray;
}
.fap-img {
    image-orientation: none;
}
.submit-progress {
  position: fixed;
  display:block;
  top: 50%;
  left: 60%;
  height: 6em;
  padding-top: 2.3em;
  width: 20em;
  margin-left: -10em;
  padding-left: 2.1em;
  background-color: black;
  color: white;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  border-radius: 0.4em;
  box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
  -webkit-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
  -moz-box-shadow: 0.4em 0.4em rgba(0,0,0,0.6);
}
.submit-progress i {
  margin-right: 0.5em;
}
.full-width {
    width: 100%;
}

.fap-wrapper {
    min-height: 600px;
    /*padding: 0 15px;*/
}

.fap-sort-wrap {
	float: right;
	margin: 15px -5px 15px 0px;
	width: 202px;
}

.location-wrap {
    float: right;
    margin-top:25px;
    /*max-width: 200px;*/
}

.fap-sort {
	text-align: right;
	/*float: right;*/
	display: inline-block;
	max-width: 125px;
}

.fap-zip {
    max-width: 100px;
}

.fap-label {
	color: #aaa;
}

.zip-label {
    float:left;
    margin:5px;
}

.sort-label {
   padding-right: 10px;
}

.fap-header {
	color: #004b8f;
    float: left;
}

select#distance {
    max-width: 45%;
    float: left;
    margin-bottom: 5px;
}

input#zip {
    max-width: 42%;
    float: left;
    margin-bottom: 5px;
}

input#location-filter {
    vertical-align: top;
    margin-left: 5px;
    margin-bottom: 0px;
}

button#reset-filter-btn {
    margin-bottom: 5px;
}

button#apply-zip-btn {
    float: right;
    max-width: 42%;
    margin-right: 3px;
    font-size: 14px;
}

.fap-filters-container {
	/*max-width: 200px;*/
	color: white;
	margin-bottom: 10px;
}

.fap-filters-container select, .fap-filters-container input {
	
	color: black;
	margin-bottom: 10px;
}

.fap-filters-container label {
	font-weight: normal;
}

.fap-filters-header, .fap-filters {
	background-color: #004b8f;
}

.fap-filters-header {
    padding: 10px 20px;
    border-bottom: 1px solid white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.fap-filters {
	padding: 10px 10px 1px 10px;
}

.fap-filter-name {
	font-weight: bold;
}

.use-location {
    font-size: 11px;
    cursor: pointer;
    float: left;
    margin: 7px 0 10px 1px;
    /*margin: 10px 0 10px 10px;*/
    /*margin: -7px 0 10px 1px;*/
}

.underline-txt {
   text-decoration: underline;
}

.fap-results {
	list-style: none;
	padding-left: 0;
}

.fap-result {
	display: inline-block;
	width: 100%;
}

.fap-result-hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #eee;
    width: 84%;
    float: right;
}

.fap-btn {
	background-color: #60bc02;
	color: white;
	border-radius: 4px;
	border: 1px solid #60bc02;
	width: 100%;
    min-height: 30px;
    font-weight: bold;
}

.fap-result a {
	text-decoration: underline;
}

.dr-name {
    font-size: 16px;
}

.dr-gender, .dr-get-directions {
	margin-top: 20px;
}

.dr-get-directions {
    font-size: 12px;
}

.hidden-location {
    margin-bottom: 10px;
}

.hidden-location:last-child {
    margin-bottom: initial;
}

.dr-more-locations, .dr-more-directions {
    cursor: pointer;
    margin-bottom: 10px;
}

.distance-value {
    font-size: 14px;
}

.distance-marker {
    color: #004b8f; 
}

.controls-container {
	text-align: center;
}

.fap-results-pdf {
	margin: 30px 0;
	max-width: 200px;
	/*float: right;*/
}

.pagination-container {
	display: inline-block;
	color: #aaa;
	/*margin: 15px 0;*/
	margin: 5px 0 15px 0;
	font-size: 16px;
	font-weight: bold;
}

.fap-page-link {
	margin: 0 10px;
	color: #337ab7;
	cursor: pointer;
}

.fap-prev, .fap-first, .fap-next, .fap-last {
    font-size: 20px;
}

/*** PP Profile Start ***/
.hidden-biography {
    margin: 10px 15px 0 35px;
}

.hidden-biography ul li {
    list-style: disc;
}

.profile-ul a {
    cursor: pointer;
}
/*** PP Profile End ***/

/*** anthony ***/
.result-image {
	display: table;
}
.result-image span {
	display: table-cell;
	vertical-align: top;
	padding-right: 10px;
}
.result-image img {
	display: table-cell;
	max-width: 80px;
    max-height: 100px;
	height: auto;
    width: 100%;
}
.fap-result-filter {
    text-align: center;
    margin: 20px 0;
}
.fap-results-pdf-wrapper {
	text-align: right;
}

.dr-info-left, .dr-info-right {
    min-height: 110px;
}
@media screen and (max-width: 991px) {
	.fap-sort-wrap {
		float: none;
		margin: 15px auto;
	}
	.fap-filters-container {
		display: none;
		margin-bottom: 30px;
	}
	
	.fap-results-pdf-wrapper {
		text-align: center;
	}
	.fap-sort {
		float: none;
		max-width: 100%;
	}
}
@media screen and (max-width: 767px) {
    .xs-right {
        float: right;
    }

	.xs-no-pad-left {
    padding-left: 0;
    }

    .fap-result {
        font-size: 14px;
    }

    button#reset-filter-btn {
        font-size: 14px !important;
    }

    .location-wrap {
        padding: 0px 10px;
        margin-top: 0;
        float:none;
    }

    select#distance {
        max-width: 38%;
        float: left;
    }
    input#zip {
        /*max-width: 38%;*/
    }
    .fap-filters-container {
        background-color: #004b8f;
    }
    .fap-filters {
        padding: 10px 10px 10px 10px;
    }
    .zip-label {
        /*color: white;
        margin: 5px 10px;*/
        float: left;
        margin:0 10px;
    }
    .fap-zip {
        max-width: 80px;
        float:left;
    }
    .fap-sort-wrap {
        /*padding: 10px 10px 0 10px;*/
        float: none;
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
    .use-location {
        font-size: 13px;
        float: none;
        clear: both;
        text-align: center;
        margin: 10px 0;
    }
    .location-wrap .fap-btn {
        float: left;
        max-width: 54px;
        margin: 0px 0px 0px 10px;
        height: 34px;
    }
}
@media screen and (max-width: 375px) {
    .page-item.first, .page-item.last {
        display: none;
    }
}
@media not all and (min-resolution:.001dpcm) { 
    @media {
       .dr-get-directions {
	        background-color: #60bc02;
	        color: white;
	        border-radius: 4px;
	        border: 1px solid #60bc02;
	        width: 100px;
            min-height: 30px;
            font-size: 10px;
            font-weight: bold;
        }
    }
}

/* Detail Page */
#physician-profile-pic {
	width: 100%;
}

#physician-profile-copy {
	padding: 0;
}

.info-text {
	margin-top: 10px;
}

.physician-name {
	font-size: 16px;
}

.physician-specialty {
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	margin-top: 5px;
}

.bottom-border-md {
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

.bottom-border-sm {
	border-bottom: none;
	margin-bottom: 0;
}

/*.nav {
	margin-bottom: 10px;
}*/

.bottom-10 {
	margin-bottom: 10px;
}

.no-pad {
	padding: 0;
}

.action-btn-row {
	margin: 10px 0;
}

.action-wrap {
	padding: 0;
}

.action-wrap:first-child {
	padding-right: 5px;
}

.action-wrap:last-child {
	padding-left: 5px;
}


.nav-links li {
	float: left;
}

.nav-links li a {
   padding: 0 35px 0 0;
}

.nav-item a {
	color: #777;
}

.nav-links li a:hover {
	background-color: white;
}

.nav-links li a:active, .nav-links li a:focus {
	background-color: white;
}

.nav-item.active a {
	color: #0064a0;
}

.affiliated-address {
	margin-top: 5px;
}

.insurance-cols {
	-webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
}

.accordion-content {
	display: none;
}

@media only screen and (max-width: 991px) {
	.action-wrap {
		padding: 0 !important;
		margin-top: 20px;
	}

	.nav-links li {
		width: 100%;
		border-bottom: 1px solid #ccc;
	}

	.nav-links li:last-child {
		border-bottom: none;
	}

	.nav-links li a {
		margin: 10px 0;
		text-align: center;
		font-weight: bold;
	}

	.accordion-content {
		padding: 20px 10px 10px 10px;
	}

	.accordion-content a {
		font-weight: normal !important;
	}

	.nav-links {
		border: 1px solid #ccc;
		border-radius: 4px;
	}

	/*.tab-content {
		display: none;
	}*/

	.nav-item.active .accordion-content {
		display: block;
	}

	.bottom-border-md {
		border-bottom: none;
		margin-bottom: 0px;
	}

	.bottom-border-sm {
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px; 
	}

	.publications {
		padding-left: 0;
		list-style: none;
	}

	.publications li {
		margin-bottom: 10px;
	    padding-bottom: 10px;
	}
}


@media only screen and (max-width: 767px) {
	.physician-overview {
		font-size: 12px;
	}

	.fap-btn {
		font-size: 11px;
	}

	.physician-name {
		font-size: 14px;
	}

	.physician-specialty {
		font-size: 12px;
	}

	.insurance-cols {
		-webkit-columns: 100px 2; /* Chrome, Safari, Opera */
	    -moz-columns: 100px 2; /* Firefox */
	    columns: 100px 2;
	}
}

@media only screen and (max-width: 480px) {
	.insurance-cols {
		-webkit-columns: 100px 1; /* Chrome, Safari, Opera */
	    -moz-columns: 100px 1; /* Firefox */
	    columns: 100px 1;
	}
}
