@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.WOFF);
}

@font-face {
    font-family: OpenSans-Light;
    src: url(../fonts/OpenSans-Light.WOFF);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.WOFF);
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url(../fonts/OpenSans-SemiBold.WOFF);
}

/*@font-face {
    font-family: fontawesome;
    src: url();
}*/