﻿.pp-hr-icons {
    height: 0px;
}

.nav-icons li, .header-search-wrapper, .header-notifications-wrapper, .header-notifications-wrapper-mobile, .navbar-toggle, .pp-navbar-inner .dropdown {
    display: none !important;
}

.non-physician-header {
    text-align: center;
    margin-left: -6%;
}

@media screen and (min-width: 991px) {
    .container.bg-white {
        min-height: 500px;
    }
}