﻿/*Hide unless stated in media query down below*/
.mobile-custom{
    display:none;
}

body {
    background-color: #f1f1f1;
    font-family: OpenSans, Arial;
    font-size: 16px;
}
.label-color {
    color: #a94442;
}
/* color outside the limits of the 980px wide .container */

.container {
    max-width: 1010px; /*980 + 30px to account for Bootstrap col padding - Bootstrap's columns are box-sizing:border-box*/
    /*background-color: #fff;*/
}

/* unset bootstrap's .dropdown-menu default min-width */
.dropdown-menu {
    min-width: 0;
}

/* adds 'float:none;' to Bootstrap .center-block class to center column content*/
.center-block {
    float: none;
}

/* Default styling */

/* Bootstrap vertically align column content within row */
.vertical-align {
    display: flex;
    align-items: center;
}



/* Bootstrap equal column height (flexbox) */
.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

    .row.is-flex > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }

.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}



    .row.is-flex > [class*='col-'] {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

/* Bootstrap 5 equal columns solution */

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.bg-white {
    background-color: #fff;
}

.uppercase {
    text-transform: uppercase;
}

.vertical-middle {
    vertical-align: middle;
}

.vertical-top {
    vertical-align: top;
}

.vertical-bottom {
    vertical-align: bottom;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

/*.align-top {
	vertical-align: top;
}*/

/*.align-bottom {
	vertical-align: bottom;
}*/

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.no-margin {
    margin: 0;
}

.marginT-0 {
    margin-top: 0;
}

.marginT-5 {
    margin-top: 5px;
}

.marginT-10 {
    margin-top: 10px;
}

.marginT-15 {
    margin-top: 15px;
}

.marginT-20 {
    margin-top: 20px;
}

.marginT-25 {
    margin-top: 25px;
}

.marginT-30 {
    margin-top: 30px;
}

.marginT-35 {
    margin-top: 35px;
}

.marginT-40 {
    margin-top: 40px;
}

.marginT-45 {
    margin-top: 45px;
}

.marginT-50 {
    margin-top: 50px;
}

.marginB-0 {
    margin-bottom: 0 !important; /*????*/
}

.marginB-5 {
    margin-bottom: 5px !important; /*????*/
}

.marginB-10 {
    margin-bottom: 10px; /*????*/ /*!important was here*/
}

.marginB-15 {
    margin-bottom: 15px;
}

.marginB-20 {
    margin-bottom: 20px;
}

.marginB-25 {
    margin-bottom: 25px;
}

.marginB-30 {
    margin-bottom: 30px;
}

.marginB-35 {
    margin-bottom: 35px;
}

.marginB-40 {
    margin-bottom: 40px;
}

.marginB-50 {
    margin-bottom: 50px;
}

.marginB-60 {
    margin-bottom: 60px;
}

.marginR-0 {
    margin-right: 0;
}

.marginR-5 {
    margin-right: 5px;
}

.marginR-10 {
    margin-right: 10px;
}

.marginR-15 {
    margin-right: 15px;
}

.marginR-20 {
    margin-right: 20px;
}

.marginL-0 {
    margin-left: 0;
}

.marginL-5 {
    margin-left: 5px;
}

.marginL-10 {
    margin-left: 10px;
}

.marginL-15 {
    margin-left: 15px;
}

.marginL-20 {
    margin-left: 20px;
}

.no-padding {
    padding: 0;
}

.padR-0 {
    padding-right: 0;
}

.padR-5 {
    padding-right: 5px;
}

.padR-10 {
    padding-right: 10px;
}

.padR-15 {
    padding-right: 15px;
}

.padR-20 {
    padding-right: 20px;
}

.padL-0 {
    padding-left: 0;
}

.padL-5 {
    padding-left: 5px;
}

.padL-10 {
    padding-left: 10px;
}

.padL-15 {
    padding-left: 15px;
}

.padL-20 {
    padding-left: 20px;
}

.padB-0 {
    padding-bottom: 0;
}

.padB-5 {
    padding-bottom: 5px;
}

.padB-10 {
    padding-bottom: 10px;
}

.padB-15 {
    padding-bottom: 15px;
}

.padB-20 {
    padding-bottom: 20px;
}

.padB-35 {
    padding-bottom: 35px;
}

.padT-0 {
    padding-top: 0;
}

.padT-5 {
    padding-top: 5px;
}

.padT-10 {
    padding-top: 10px;
}

.padT-15 {
    padding-top: 15px;
}

.padT-20 {
    padding-top: 20px;
}

.padT-25 {
    padding-top: 25px;
}

.padT-30 {
    padding-top: 30px;
}

padT-35 {
    padding-top: 35px;
}

.padT-40 {
    padding-top: 40px;
}

.padT-45 {
    padding-top: 45px;
}

.pad-0 {
    padding: 0;
}

.pad-20 {
    padding: 20px;
}

.size-12 {
    font-size: 12px;
}

.size-14 {
    font-size: 14px;
}

.size-16 {
    font-size: 16px;
}

.size-18 {
    font-size: 18px;
}

.size-20 {
    font-size: 20px;
}

.size-24 {
    font-size: 24px;
}

.size-32 {
    font-size: 32px;
}

.color-blue {
    color: #2a5ca8;
}

.color-grey {
    color: #4f4f53;
}

.color-gray {
    color: #4f4f53;
}

.color-fade-grey {
    color: #b8b8b8;
}

.color-fade-gray {
    color: #b8b8b8;
}

.hand-cursor {
    cursor: pointer;
}

.bold {
    font-family: OpenSans-Bold, Arial;
}

.opensans {
    font-family: OpenSans, Arial;
}

.opensans-light {
    font-family: OpenSans-Light, Arial;
}

.opensans-semibold {
    font-family: OpenSans-Semibold, Arial;
}

.opensans-bold {
    font-family: OpenSans-Bold, Arial;
}

.no-border {
    border: 0;
}

.list-none {
    list-style: none;
}

.no-wrap {
    white-space: nowrap;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

flex-row-nowrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.invisible-highlight::selection {
    background: rgba(255, 255, 255, 0);
}

.dark-hr {
    border-bottom: 1px solid #c0c0c0;
}

/****** HEADER (theme) ******/

.social-profile-link {
    color: #2a5ca8 !important;
}

.header-outer-container-1 {
    width: 100%;
    background-color: #f9f9f9;
}

.header-outer-container-2 {
    width: 100%;
    background-color: #ededed;
}


.header-row-1 {
    background-color: #f9f9f9;
    /*max-width: 980px;*/
}

.header-row-2 {
    background-color: #ededed;
}

.header-search-wrapper {
    margin-top: 17px;
}

.header-search-input {
    display: inline-block;
}

.header-search-dropdown {
    display: inline-block;
}

    .header-search-dropdown button, .header-search-dropdown button:hover, .header-search-dropdown button:focus, .header-search-dropdown button:active {
        background-color: #367979 !important; /* bootstrap override */
        border-radius: 5px 0px 0px 5px;
        border: 1px solid #367979;
        /*	width: 122px;*/
    }

.header-notifications-wrapper {
    /*margin-top: 25px;*/
    margin-top: 10%;
    float: left;
}

.header-notifications-wrapper-mobile {
    margin-top: 8%;
    float: left;
}

.icon-notification-pill-small {
    background: url(../images/header/icon-notification-pill-small.png);
    background-repeat: no-repeat;
    font-family: OpenSans-Bold, Arial;
    font-size: 13.5px;
    color: white;
    text-align: center;
    display: inline-block;
    /*	vertical-align: middle;*/
    width: 20px;
    height: 20px;
    background-position: center bottom;
    background-position-x: center; /* Firefox */
    background-position-y: bottom; /* Firefox */
    position: relative;
    right: 14px;
    bottom: 10px;
}

.icon-notification-pill {
    background: url(../images/header/icon-notification-pill.png);
    background-repeat: no-repeat;
    font-family: OpenSans-Bold, Arial;
    font-size: 13.5px;
    color: white;
    text-align: center;
    display: inline-block;
    /*	vertical-align: middle;*/
    width: 29px;
    height: 20px;
    background-position: center bottom;
    background-position-x: center; /* Firefox */
    background-position-y: bottom; /* Firefox */
    position: relative;
    right: 14px;
    bottom: 10px;
}

.header-login-img-wrapper {
    margin-top: 10px;
}

.header-login-wrapper {
    vertical-align: middle;
    text-align: right;
    margin-top: 6%;
}

.header-login-wrapper-mobile {
    vertical-align: middle;
    text-align: right;
    margin-top: 3%;
}

.header-login-dropdown a, .header-login-dropdown a:hover, .header-login-dropdown a:active, .header-login-dropdown a:focus {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}

.btn-login, .btn-login:hover, .btn-login:active, .btn-login:focus {
    font-family: OpenSans-Bold, Arial;
    font-size: 14px;
    text-decoration: none;
}

.btn-logout {
    font-family: OpenSans-Bold, Arial;
    font-size: 14px;
    text-decoration: none;
    float: right;
    border: none;
    background: none;
}

/*hr icon*/
.pp-hr-icons {
    position: relative;
    top: 125px;
    width: 100%;
    border: none;
    height: 1px;
    background-color: #fff;
    opacity: 0.65;
    z-index: 1;
}

/*modal*/
label.modal-navDrops {
    background-color: #004f8e;
    color: white;
    /*cursor: pointer;*/
    padding: 9px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-top: 2px solid;
    font-weight: 700 !important;
}

    label.modal-navDrops:first-child {
        border-top: unset;
    }

.modal-body ul {
    list-style: none;
    font-size: 12px;
    padding-left: 18px;
}

.modal-body a {
    color: white;
}

.modal-header button.close {
    font-size: 30px;
    color: white;
    opacity: unset;
}

ul.modal-icons {
    padding-left: 8px !important;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-icons li {
    margin-top: 9px;
    max-width: 50%;
}

.modal-icons li a img {
    margin-bottom: 10px; /*height:30px;width: 30px;*/
}

.modal-icons li:nth-child(1) {
    margin-bottom: 18px !important;
}

.modal-icons li:nth-child(2) {
    margin-bottom: 18px !important;
}

.modal-header {
    background-image: url(../Images/header/nav/pp-nav-background-nomask.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 4px 4px 0 0;
}

.modal-footer {
    background-color: #4f4f53;
}

.modal {
    border-radius: 4px;
}

.modal button.btn-primary, .modal input[type="submit"] {
    background-color: #367979 !important;
    border-radius: 4px;
    border: 1px solid #367979;
    color: white;
}

.modal input[type="submit"] {
    width: 100%;
}

.modal .form-submit-border {
    margin-bottom: 20px !important;
}

.modal .modal-content {
    border: 0px !important;
}

/******* NAVIGATION (theme) **********/

.pp-navbar {
    background-image: url('../Images/header/nav/pp-nav-background-nomask.png');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: #004f8e !important;*/
    border-color: #004f8e;
    border-radius: 0px;
    /*border-top: 6px solid #57be17 !important;*/
    margin-bottom: 0;
}

.top-nav {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}

.top-nav li {
    color: white !important;
}

.top-nav li i {
    font-size: 9px;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
}

.pp-navbar-inner .dropdown:hover li {
    color: #2a5ca8 !important;
}

.dropbtn {
    color: white;
    padding: 16px 16px 10px 16px;
    font-size: 14px;
    border: none;
    /*cursor: pointer;*/
    min-width: 200px;
}

.dropdown:hover {
    z-index: 1001;
}

/*.dropdown {
	position: relative;
	display: inline-block;
	margin-right: 44px;
	z-index: 2
}*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: #2a5ca8;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left !important;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    text-decoration: none;
    background-color: #f9f9f9;
}

.active1 {
    background: #57be17;
}

a {
    text-decoration: none !important;
}

.nav-modal {
    background: #004f8e !important;
}

/*.navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}*/

/**********ICONS NAVIGATION*********/

.nav-icons {
    padding-left: 0;
    width: 100%;
    list-style: none;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    /*justify-content: space-between;*/
    justify-content: space-around;
}

    .nav-icons li {
        margin-top: 10px;
        /*max-width: 50%;*/
        width: 15%;
        /*display: flex;
	height: auto !important;
	justify-content: center;
	flex-direction: column;
	align-items: center;*/
    }

    .nav-icons a {
        margin-left: 0px;
        text-align: center;
        color: white;
        font-size: 14px;
    }

    .nav-icons li a img {
        margin-bottom: 4px;
        /*height:30px;width: 30px;*/
    }

/****** FOOTER (theme) ******/

.footer-outer-container {
    background-color: #4f4f53;
    /*width: 100%;
	position: absolute;
	bottom: 0;*/
    min-height: 190px;
}

.footer-row-1 {
    background-color: #4f4f53;
}

.footer-row-2 {
    background-color: #4f4f53;
}

.footer-ul-1-wrapper {
    width: 100%;
}

.footer-ul-1 {
    font-size: 18px;
    text-align: center;
    padding: 0;
    margin: 75px 0 40px 0;
    color:white;
}

    /*.footer-ul-1 li {
        display: inline;
        padding: 0 15px;
        white-space: nowrap;
    }

        .footer-ul-1 li a {
            color: white;
        }*/

    /*.footer-ul-1 span {
        color: white;
    }*/

.footer-ul-2 {
    font-size: 14px;
    text-align: center;
    padding: 0;
    color:white;
}
.footer-ul-1li 
{
    display: inline;
    padding: 0 15px;
    white-space: nowrap;
    color:white;
}

.footer-ul-1li span {
    color: white;
}
.footer-ul-2li 
{
     display: inline;
     white-space: nowrap;
     color:white;
}
.footer-ul-1li a {
    color:white;
}
.footer-ul-2li a {
    color:white;
}
/*.footer-ul-2li span:nth-child(2) {
    margin: 0 300px;
}*/
/*.footer-ul-2 li {
    display: inline;
    white-space: nowrap;
}*/

    /*.footer-ul-2 li:nth-child(2) {
        margin: 0 300px;
    }*/

        /*.footer-ul-2 li, .footer-ul-2 li a {
            color: white;
        }*/


/****** Profile page ******/

.profile-dr-wrapper {
    border: 1px solid #e1e1e1;
    padding: 20px 20px 10px 20px;
}

img.base { /*hide image base if image present - if no image, jquery unhides*/
    display: none;
}

.profile-dr-image {
    display: inline-block;
}

    .profile-dr-image img {
        margin-bottom: 20px;
        display: table-cell;
	    max-width: 240px;
        max-height: 300px;
	    height: auto;
        width: 100%;
    }

.dr-title {
    vertical-align: top;
}

.btn-profile-subscribe {
    display: block;
    background-color: #016e15;
    color: white;
    /*width: 187px;*/
    padding: 10px 20px;
}

    .btn-profile-subscribe:hover, .btn-profile-subscribe:active, .btn-profile-subscribe:focus {
        text-decoration: none;
        color: white;
    }

.profile-dr-info {
    display: inline-block;
    text-align: left;
}

.profile-h1 {
    font-size: 24px;
    color: #2a5ca8;
    margin-top: 0;
}

.profile-h3 {
    font-size: 18px;
    color: #323232;
    margin-top: 0;
}

.profile-ul {
    list-style: none;
    font-family: OpenSans-Semibold, Arial;
    font-size: 14px;
    color: #4f4f53;
    padding: 0;
}

    .profile-ul li {
        list-style-type: none; /* IE 9 */
        margin: 15px 0;
    }

.icon-print {
    background-image: url(../images/profile-page/icon-print.png);
    background-repeat: no-repeat;
}

.icon-share {
    background-image: url(../images/profile-page/icon-share.png);
    background-repeat: no-repeat;
}

.icon-bio {
    background-image: url(../images/profile-page/icon-bio.png);
    background-repeat: no-repeat;
}

.icon-education {
    background-image: url(../images/profile-page/icon-education.png);
    background-repeat: no-repeat;
}

.icon-email {
    background: url(../images/profile-page/icon-email.png);
    background-repeat: no-repeat;
}

.icon-phone {
    background: url(../images/profile-page/icon-phone.png);
    background-repeat: no-repeat;
}

.icon-location {
    background: url(../images/profile-page/icon-location.png);
    background-repeat: no-repeat;
}

.icon-subscribers {
    font-family: OpenSans-Semibold, Arial;
    font-size: 14px;
    color: #02ac22;
}

.icon-clock {
    background: url(../images/profile-page/icon-clock.png);
    background-repeat: no-repeat;
}

.profile-span-social {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 0;
    background-position: center bottom;
    background-position-x: center; /* Firefox */
    background-position-y: bottom; /* Firefox */
}

    .profile-span-social.icon-clock {
        width: 20px;
        height: 20px;
    }

.profile-span {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    background-position: center bottom;
    background-position-x: center; /* Firefox */
    background-position-y: bottom; /* Firefox */
}

.profile-form-wrapper {
    /*text-align: center;*/
    margin-top: 25px;
    margin-bottom: 20px;
}

.profile-form-input {
    height: 48px;
    width: calc(95% - 78px);
    border: 1px solid #e6e6e6;
    border-radius: 5px 0 0 5px;
    background-color: #ededed;
    padding-left: 20px;
    /*	background-image: url(../images/profile-page/icon-paperclip.png);
	background-repeat: no-repeat;
	background-position: right;
	background-position-x: 98%;*/ /* Firefox */
}

.profile-paperclip-anchor, .profile-paperclip-anchor:hover, .profile-paperclip-anchor:active, .profile-paperclip-anchor:focus {
    /*text-decoration: none;*/
    color: inherit;
}

.profile-paperclip {
    /*background-color: #ededed;*/
    position: relative;
    right: 120px;
    top: 8px;
    font-size: 30px;
    float: right;
}

/*modal style for subsciption lists*/
.pfollow-modal-list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.pfollow-modal-li{
    padding: 5px 5px 5px;

}

.pfollow-list-name {
    font-family: OpenSans-Semibold, Arial;
    font-size: 14px;
    color: #337ab7;
}
.pfollow-modal-ul {
    max-height: 274px;
    overflow-y: scroll;
}
.pfollow-list-hr {
    width: 100%;
    color: #367979;
    height: 1px;
    background-color: #367979;
}

/* Change input placeholder color */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #4f4f53;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #4f4f53;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #4f4f53;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #4f4f53;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #4f4f53;
}

.profile-form-submit {
    width: 78px;
    height: 48px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #016e15;
    color: white;
}

/* Wall posts */

.profile-post-avatar {
    display: inline-block;
    text-align: center;
}

.profile-post-1 {
    display: inline-block;
}

.profile-post-main {
    margin-top: 10px;
}

.profile-og-anchor, .profile-og-anchor:hover, .profile-og-anchor:active, .profile-og-anchor:focus {
    color: #7b7b7b;
    text-decoration: none;
}

.profile-og-title {
    font-family: OpenSans-Bold, Arial;
    font-size: 14px;
}

.profile-og-main {
    font-size: 14px;
}

.profile-more-wrapper {
    text-align: center;
}

.btn-profile-more {
    background-color: #016e15;
    color: white;
    padding: 10px 80px;
}

    .btn-profile-more:hover, .btn-profile-more:active, .btn-profile-more:focus {
        color: white;
    }

.profile-print-share {
    float: right;
    color: #2a5ca8;
    font-family: OpenSans-Bold, Arial;
    font-size: 14px;
    margin: 10px 0;
    cursor:pointer;
}

.profile-print-share-mobile {
    float: right;
    color: #2a5ca8;
    font-family: OpenSans-Bold, Arial;
    font-size: 14px;
    margin: 10px 0;
}

.profile-wall-header {
    font-family: OpenSans-Bold, Arial;
    font-size: 16px;
    margin: 0 0 5px 0;
    display: inline-block;
}

.profile-wall-span-wrapper {
    float: right;
    font-family: OpenSans-Semibold;
    font-size: 14px;
    color: #c6ccd2;
}

/* right column (col-md-4) */
.profile-details-wrapper {
    border: 1px solid #e1e1e1;
    padding: 20px;
}

    .profile-details-wrapper p {
        margin-bottom: 0;
    }

    a.fa-toggle, .profile-details-wrapper a.fa-toggle:hover, .profile-details-wrapper a.fa-toggle:active, .profile-details-wrapper a.fa-toggle:focus {
        color: #4f4f53;
        text-decoration: none;
    }

/*.profile-details-wrapper div.details-card {
	padding-top: 20px;
}*/

.profile-details-div {
    padding-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
}

.profile-copylink-text{
    font-size:11px;
}

/****** Site Search Results ******/

.site-search-filter-wrapper {
    border: 1px solid #e1e1e1;
    padding: 20px;
    height: 293px; /*prevents bootstrap collapse bug where div height never returns to initial (change window size to mobile, uncollapse and re-collapse, then change window size to desktop and div outline is not full height)*/
}

.site-search-filter-wrapper-mobile {
    border: none;
    border-bottom: 1px solid #e1e1e1;
    padding: 20px 20px 0 20px;
}

.site-search-result-number {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 50px;
}

#accordion-site-search-filter hr {
    margin: 0;
    padding: 20px 0;
}

.site-search-filter-title {
    font-size: 24px;
}

.site-search-label {
    margin-bottom: 8px;
    display: block;
}

    /*hide the default checkbox*/
    .site-search-label input {
        visibility: hidden;
        display: block;
        height: 0;
        width: 0;
        position: absolute;
        overflow: hidden;
    }

    /*display custom checkbox (unchecked)*/
    .site-search-label span {
        height: 18px;
        width: 18px;
        display: inline-block;
        background: url('../images/site-search-page/checkbox-unchecked.png');
        position: relative;
        top: 2px;
        margin-right: 5px;
    }

    /*display custom checkbox (checked)*/
    .site-search-label input:checked + span {
        background: url('../images/site-search-page/checkbox-checked.png');
    }


.site-search-filter-clear {
    color: #bf4140;
    float: right;
}

.site-search-filter label {
    font-family: OpenSans, Arial;
    font-weight: normal;
    margin-left: 10px;
}

.site-search-input {
    height: 38px;
    width: 460px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    background-color: #fff;
    padding-left: 20px;
}

.s-icon {
    color: #367979;
    position: relative;
    font-size: 20px;
    cursor: pointer;
}

.ss-icon-pos {
    right: 30px;
}

.gs-icon-pos {
    right: 1px;
    top: 1px;
    left: 1px;
}

.page-item.disabled {
    display: none;
}

#now-showing {
    text-align: right;
    margin-top: 25px;
}

/*.site-search-result-wrapper:nth-of-type(1) {
	display: flex;
	align-items: center;
}

.site-search-result-wrapper:nth-of-type(1) .left {
	flex-basis: 0;
	flex-grow: .17;
}

.site-search-result-wrapper:nth-of-type(1) .right {
	flex-basis: 0;
	flex-grow: .83;
}*/

.site-search-result-anchor, .site-search-result-anchor:hover, .site-search-result-anchor:active, .site-search-result-anchor:focus {
    text-decoration: none;
    color: inherit;
}

.site-search-result-wrapper hr {
    border-bottom: 1px solid #c0c0c0;
}

.site-search-result-name {
    font-family: OpenSans-Light, Arial;
    font-size: 24px;
    color: #2a5ca8;
}

.site-search-result-type {
    font-family: OpenSans-Bold, Arial;
    font-size: 14px;
    color: #2a5ca8;
}

.pagination-container {
    width: 274px;
    height: 34px;
    border: 1px solid #d7d7d7;
}

/****** PP Landing Page (rehab) ******/

.pp-breadcrumbs {
    float: left;
    margin-top: 12px;
    margin-left: 2.5px;
    font-family: arial;
    font-size: 14px;
}

.pp-breadcrumbs ol {
    list-style: none;
    padding: 0;
}

.pp-breadcrumbs ol li {
    display: inline;
}

.pp-breadcrumbs ol li + li:before {
    padding: 8px;
    content: "/\00a0";
}

.pp-breadcrumbs ol li a:active {
    color: #2a5ca8;
    text-decoration: none;
}

.pp-breadcrumbs ol li a.current-link {
    color: #2a5ca8;
    font-family: OpenSans-Semibold, Arial;
}

.pp-breadcrumbs ol li a {
    color: #2a5ca8;
    font-family: OpenSans-Semibold, Arial;
}

.pp-landing-header {
    font-size: 32px;
    color: #4f4f53;
}

.landing-related-wrapper {
    border: 1px solid #e1e1e1;
    padding: 20px;
    margin-bottom: 20px;
}

.landing-related-wrapper-mobile {
    border: 1px solid #e1e1e1;
    padding: 20px;
}

    .landing-related-wrapper p, .landing-related-wrapper-mobile p {
        font-family: OpenSans-Light;
    }

    .landing-related-wrapper li, .landing-related-wrapper-mobile li {
        margin-bottom: 8px;
        list-style: none;
        font-family: OpenSans-Semibold;
        font-size: 14px;
    }

#accordion-landing-related hr {
    margin: 15px 0;
    border-top: 1px solid #c0c0c0; /* bootstrap override */
}

#accordion-details-related hr {
    border-top: 1px solid #c0c0c0;
}

#accordion-landing-related ul {
    padding-left: 20px;
}

.landing-vids-row {
    background-color: #f6f9fa;
    border-top: 2px solid #aeccd3;
    text-align: center;
    padding-top: 30px;
}

    .landing-vids-row a p:first-child {
        margin-bottom: 0;
    }

.training-vids-anchor {
    font-family: OpenSans-Semibold, Arial;
}

.landing-vids-row img {
    margin: auto;
    border-top: 12px solid #4a864a;
}

.slick-slide p:first-child {
    margin-bottom: 0;
}

/* Style Slick arrows */

.slick-next:before {
    content: url(../images/landing-page/slider-carrot-next-active.png);
    width: 30px;
    height: 60px;
    z-index: 9999;
    position: relative;
    right: 50px;
    bottom: 45px;
}

.slick-prev:before {
    content: url(../images/landing-page/slider-carrot-prev-active.png);
    width: 30px;
    height: 60px;
    z-index: 9999;
    position: relative;
    left: 50px;
    bottom: 45px;
}


/* Style Slick dots */

.landing-slick .slick-dots {
    bottom: 18px;
}

    .landing-slick .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #0061aa; /* #2a5ca8 for exact match to arrow colors*/
    }

    .landing-slick .slick-dots li button:before {
        font-size: 50px;
        opacity: .8;
        color: grey;
    }


.landing-slick .slick-prev {
    z-index: 999;
}



.landing-libraries-row {
    background-color: #f6f9fa;
    border-top: 2px solid #aeccd3;
    text-align: center;
    margin-bottom: 30px;
}

    .landing-libraries-row a:nth-of-type(1) {
        margin-top: 30px;
        margin-top: auto;
        /*    display: block;*/
    }

    .landing-libraries-row a:nth-of-type(2) {
        margin-top: auto;
    }

    .landing-libraries-row p {
        font-family: OpenSans-Semibold, Arial;
    }

.accordion-hr {
    border-top: 1px solid #e1e1e1;
}

.landing-col-wrapper {
    background-color: #f6f9fa;
    border-top: 2px solid #aeccd3;
    text-align: center;
}

.landing-h2 {
    /*font-size: 32px;*/
    margin-bottom: 20px;
    text-align: left;
    /*	padding-left: 15px;*/
}

.landing-documents-ul {
    list-style: none;
    padding-left: 20px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    /*	-webkit-column-width: 100px;
	-moz-column-width: 100px;
	column-width: 50%;*/
}

.landing-documents-ul li {
    padding-bottom: 7px;
    font-family: OpenSans-Semibold, Arial;
}

.doc-icon {
    margin-right: 10px;
}

.landing-span {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    background-position: center bottom;
    background-position-x: center; /* Firefox */
    background-position-y: bottom; /* Firefox */
    background-repeat-x: no-repeat !important;
}

.icon-document {
    background: url(../images/landing-page/icon-document.png);
}

.icon-spreadsheet {
    background: url(../images/landing-page/icon-spreadsheet.png);
}

.icon-presentation {
    background: url(../images/landing-page/icon-presentation.png);
}

.icon-pdf {
    background: url(../images/landing-page/icon-pdf.png);
}

.icon-zip-archive {
    background: url(../images/landing-page/icon-zip-archive.png);
}


/****** Medical Library ******/

.faq-p {
    margin: 0; /* Prevent bootstrap collapse bounce on open */
    padding: 15px 0;
}

/*#accordion-library hr {
	margin: 0;
	margin-right: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}*/

/*#accordion-library li {
	margin: 0;
	padding-bottom: 8px;
}

#accordion-library p {
	margin: 0;
	padding-bottom: 10px;
}*/

#accordion-library ul {
    padding-left: 20px;
    margin: 0;
    padding-bottom: 10px;
}

.landing-libraries-row {
    padding-top: 30px;
    padding-bottom: 30px;
}


/*Style Slick Carousel (medical databases)*/

.slick-track {
    display: flex;
}

.slick-slide {
    display: flex !important;
    height: auto !important;
    -webkit-justify-content: center !important; /* justify-content for all browsers except IE. Firefox doesn't need a vendor prefix here */
    flex-direction: column !important;
    align-items: center !important;
}

/*.slick-initialized .slick-slide {
    float: none !important;
    display: inline-block !important;
    vertical-align: middle !important;
}*/

.library-slick .slick-next:before {
    content: url(../images/landing-page/slider-carrot-next-active.png);
    width: 30px;
    height: 60px;
    z-index: 9999;
    position: relative;
    right: 0px;
    bottom: 15px;
}

.library-slick .slick-prev:before {
    content: url(../images/landing-page/slider-carrot-prev-active.png);
    width: 30px;
    height: 60px;
    z-index: 9999;
    position: relative;
    left: -10px;
    bottom: 15px;
}

.library-slick .slick-dots {
    bottom: -55px;
}

    .library-slick .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #0061aa; /* #2a5ca8 for exact match to arrow colors*/
    }

    .library-slick .slick-dots li button:before {
        font-size: 50px;
        opacity: .8;
        color: grey;
    }

    .library-slick .slick-dots li {
        margin: 0;
    }

.btn-library {
    width: 292px;
    height: 45px;
    background-color: #2a5ca8;
    text-transform: uppercase;
    display: flex !important; /*override bootstrap btn class on narrow widths*/
    justify-content: center;
    align-items: center;
    border: none;
}

    .btn-library:hover {
        background-color: #1e3f72;
    }

.teal-text {
    color: #4c8483;
}

.form-submit-border {
    margin-bottom: 50px;
}


/****** Alert Message ******/

.alert-wrapper {
    color: #fefefe;
    /*height: 60px;*/
    background: linear-gradient(#c65453, #bf4140); /* Standard syntax */
    padding: 15px 20px;
    margin: -20px 0 20px;
}

.alert-wrapper a, .alert-wrapper a:hover, .alert-wrapper a:focus, .alert-wrapper a:active {
    text-decoration: none;
    color: #fefefe;
}

.span-underline {
    text-decoration: underline;
}

.alert-row {
    line-height: 30px;
}

.alert-anchor-div {
    max-width: 70%;
}

.alert-details {
    float:right;
}


/****** App Catalogue Component (home/dashboard) ******/
#exTab1 .tab-content {
    color: #2a5ca8;
    background-color: #ffffff;
    padding: 5px 15px;
}

#exTab2 h3 {
    color: white;
    background-color: #ffffff;
    padding: 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/*Kyle Vassella's tab rules*/

.nav.nav-pills li {
    text-align: center;
    font-family: OpenSans-Semibold;
}

.nav.nav-pills li:first-child {
    width: 50%;
}

.nav.nav-pills li:nth-of-type(2) {
    width: 49%;
}

.nav.nav-pills li a {
    background-color: #e1e1e1;
    color: #4b4b4b;
}

.nav.nav-pills li.active a {
    background-color: #ffffff;
    color: #5779b5;
}

div#exTab1 { /*???? Incorrect - make border equal height regardless of content */
    border: 1px solid #e1e1e1;
}

/* change border radius for the tab , apply corners on top*/

/*.flex-div {
	    display: flex !important;
	    height: auto !important;
	    justify-content: center !important;
	    flex-direction: column !important;
	    align-items: center !important;
}*/

.appcenter-flex-div {
    display: flex;
    flex-wrap: wrap;
}

.appcenter-flex-child {
   width: 25%;
    display: block;
    height: auto !important;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;
    padding: 0px 15px 15px 0px;
}

.nav-flex-div {
    display: flex;
    flex-wrap: nowrap;
}

.nav-flex-child {
    width: 25%;
    display: flex;
    height: auto !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.appcenter-flex-child a:nth-of-type(1) { /*Vertically align app-center logos */
    margin-top: auto;
}

.appcenter-flex-child a:nth-of-type(2) { /*Vertically align app-center hypertext */
    margin-top: auto;
    text-align: center;
}

#two-a a p {
    font-size: 18px;
    margin-bottom: 20px;
}

.adlink_fonts {
    color: #367979;
    font-size: 22px;
    padding-right:10px;
}

.addlink_tool {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.input_fields_wrap {
    max-height: 272px;
    overflow-y: auto;
}
.addlink_dynlistX {
    color: red;
    padding-left: 12px;
    margin-right: 5px;
    vertical-align: middle;
}

.adlink_text {
    color: #5779b5;
}

.adlink_li {
    padding-top: 5px;
}

.addlink_dynlist, .bhlinks {
    margin-left: 27px;
}

.addlink-edit-icon {
    padding-left: 0px;
    color: #367979;
    margin-left: 5px;
    vertical-align: middle;
}

.addlink-check-span-good {
    color: #2a5ca8;
    font-size: 10px;
    font-family: OpenSans-Bold, Arial
}


.addlink-check-span-bad {
    color: red;
    font-size: 10px;
    font-family: OpenSans-Bold, Arial
}

.qlink-header {
    font-weight: bold;
    font-size: 18px;
}

.input_fields_wrap {
    padding-bottom: 5px;
}

@media screen and (max-width: 375px) {
    .appcenter-flex-child {
        width: 50%;
    }
}

/****** Task List Component (home/dashboard) ******/

.rounded-checkbox {
    height: 18px;
    width: 18px;
    display: inline-block;
    background: url(../images/site-search-page/checkbox-unchecked.png);
    position: relative;
    top: 2px;
}

.site-search-label {
    margin-bottom: 8px;
    display: block;
}

/*hide the default checkbox*/
.hidden-input {
    visibility: hidden;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    overflow: hidden;
}

    /*display custom checkbox (checked)*/
    .hidden-input:checked + span {
        background: url('../images/site-search-page/checkbox-checked.png');
    }

.blue-ribbon {
    background-color: #ebf3f5;
    border-bottom: 2px solid #aac9d1;
    padding: 5px 15px;
}

.tasklist-wrapper {
    padding: 10px 10px 0px 10px;
    font-size: 14px;
    background-color: #f6f9fa;
}

.tasklist-wrapper a {
    font-family: Opensans-Bold;
}

.tasklist-wrapper p {
    margin-bottom: 8px;
    font-family: OpenSans-Light;
}

.tasklist-wrapper ul {
    list-style: none;
    padding-left: 0;
}

.tasklist-wrapper li {
    border-bottom: 1px solid #e4eef0;
}

.tasklist-wrapper li:nth-child(n+2) {
    padding-top: 10px;
}

.tasklist-date {
    position: absolute;
    right: 30px;
}

.orange-date {
    color: orange;
}

.red-date {
    color: red;
    font-weight: bold;
}

.green-txt {
    color: green;
}

.task-title {
    color: #337ab7;
    font-family: Opensans-Bold;
    cursor: pointer;
}

.pill {
    background: url('../Images/task-manager/pill.png') no-repeat;
    font-family: OpenSans-Bold, Arial;
    font-size: 13.5px;
    color: white;
    text-align: center;
    display: inline-block;
    /* vertical-align: middle; */
    width: 20px;
    height: 19.5px;
}

.pill-large {
    background: url('../Images/task-manager/pill-large.png') no-repeat;
    font-family: OpenSans-Bold, Arial;
    font-size: 13.5px;
    color: white;
    text-align: center;
    display: inline-block;
    /* vertical-align: middle; */
    width: 29px;
    height: 19.5px;
}

/*********** Events & Calendar Start ***********/

.upcoming-events h3 {
    text-align: center;
    /*color: #4f4f53;*/
}

.upcoming-event {
    padding: 15px 5px;
    border-top: 1px solid #ccc;
}

    .upcoming-event:nth-child(odd) {
        background-color: #fff;
    }

    .upcoming-event:nth-child(even) {
        background-color: #f5f9fa;
    }

.upcoming-date {
    float: left;
    margin: 0 10px;
    border-radius: 5px;
    min-width: 42px;
}

.upcoming-month {
    background-color: #2a5ca8;
    color: #fff;
    font-weight: bold;
    padding: 0 4px;
    border-radius: 5px 5px 0 0;
}

.upcoming-day {
    text-align: center;
    color: #2a5ca8;
    font-weight: bold;
    border: 1px solid #2a5ca8;
    border-radius: 0 0 5px 5px;
    font-size: 18px;
}

.upcoming-location {
    font-style: italic;
    color: #666;
    min-height: 22px;
}

h2#event-title {
    color: #3a87ad;
    font-family: OpenSans-Semibold, Arial;
}

/*********** Events & Calendar End ***********/


/*********** Login Page Start ***********/

.pp-login {
    max-width: 500px;
    margin: 10px auto;
    background-image: url(../Images/header/nav/pp-nav-background-nomask.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #004f8e !important; */
    border-color: #004f8e;
    border-radius: 0px;
    padding: 20px;
   /* color: white;*/
}

.pp-login h4 {
    color: white;
    padding: 10px;
    font-size: 22px;
}

.pp-login input, .pp-login label {
    margin: 10px 0px;
}

.login-box-btn input {
    background: #367979;
    color: white;
    width: 100%;
    font-size: 15px;
    border: 1px solid #367979;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 6px 0px;
    border-radius: 3px;
}

/************ Login Page End ************/

/*********** Components Start **********/

.resource-listing {
    font-family: OpenSans-Light, Arial;
    font-size: 18px;
    color: #2a5ca8;
    margin-bottom: 5px;
}

/*********** Components End **********/

/*********** WFFM Styles Overrides Start *******/
 .has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label {
    color: #333 !important;
}

 .has-success .form-control {
    border-color: #ccc !important;
}


/*********** WFFM Styles End *******/


/****** Print Specific ******/

/* No URLs after links on Print Pages */
a:link:after, a:visited:after {  
  content: normal !important;  
}


/****** Media Queries ******/

@media screen and (min-width: 1024px) {

    /***** Page Overlap Effect *****/
    .container.bg-white {
        position: relative; /* needed for z-index to work */
        z-index: 1000;
        margin-top: -35px;
        margin-bottom: -35px;
        padding-bottom: 35px;
        padding-top: 35px;
    }
}

@media screen and (max-width: 1024px) {
    .alert-wrapper {
        margin: 0px 0 20px;
        height: initial;
    }
}

@media screen and (max-width: 991px) {


    /***** Navigation *****/
    .pp-hr-icons {
        top: 175px;
    }

    /***** Profile Page *****/

    .btn-profile-subscribe {
        width: 200px;
    }

    .profile-details-div {
        padding-bottom: 15px;
    }

    .header-search-wrapper {
        margin-top: 0;
        height: 50px;
    }


    /***** Site Search Results Page *****/

    .site-search-result-number {
        margin-bottom: 10px;
    }

    #now-showing {
        text-align: center;
        margin-top: 10px;
    }
    .pagination-wrap #pagination {
        text-align: center;
    }

    /***** Landing Page *****/

    .landing-vids-row {
        border-top: none;
        border-bottom: 2px solid #aeccd3;
        padding-top: 20px;
        padding-bottom: 45px;
    }

    .landing-documents-ul {
        -moz-column-count: auto;
        -moz-column-gap: auto;
        -webkit-column-count: auto;
        -webkit-column-gap: auto;
        column-count: auto;
        column-gap: auto;
    }

    /***** Footer *****/

    .footer-ul-1 li {
        display: block;
        margin-bottom: 7px;
    }

    /*.footer-ul-1 span {
        display: none;
    }*/

    .footer-ul-2 li {
        display: block;
        margin-bottom: 7px;
    }

        .footer-ul-2 li:last-child {
            margin-bottom: 15px;
        }

        .footer-ul-2 li:nth-child(2) {
            margin: 0 0 5px 0;
        }

    .landing-libraries-row .vertical-align-col {
        margin-top: 30px;
    }
}

@media screen and (min-width: 992px) {
    .vertical-align-2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
    }

    .vertical-align-col {
        display: flex;
        flex-direction: column;
    }

    .dr-get-directions {
        white-space: nowrap;
    }


    /*	.landing-libraries-row .vertical-align-col a:first-child {
		justify-content: center;
	}*/
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .header-notifications-wrapper-mobile {
        margin-top: 7%;
    }
}

@media screen and (max-width: 768px) {

    /***** Footer *****/

    .footer-ul-1 {
        margin-top: 30px;
    }

    /*icon hr*/

    /*.pp-hr-icons{
        top:165px;
    }*/
}

@media screen and (max-width: 767px) {
    /***** Navigation Bar *****/
    .pp-navbar {
        background-size: auto;
    }

    .btn-login {
        margin-top: 8%;
    }
}


@media screen and (max-width: 560px) { /* Large (non iOS) phones */

    /***** Profile Page *****/

    .profile-print-share {
        display: none;
    }

    .container.container-profile {
        padding-top: 10px;
    }

    .profile-paperclip {
        display: none;
    }

    /***** Site Search Results Page *****/

    .site-search-fa-search {
        display: none;
    }
}

/* remove padding from logo column to reduce logo shrinkage on small devices */
@media screen and (max-width: 460px) {

    .mobile-header-logo {
        padding: 0;
    }

    .mobile-notifications {
        padding: 0;
    }

    /* offset no left padding w/ equivalent relative positioning ?? */

}
@media screen and (max-width: 450px) {
    

    select{
        max-width:100%;
    }
    /* Force table to not be like tables anymore */
    #Specialties_wrapper table,
    #Specialties_wrapper thead,
    #Specialties_wrapper tbody,
    #Specialties_wrapper th,
    #Specialties_wrapper td,
    #Specialties_wrapper tr {
        display: block;
    } 
    .mobile-table {
        overflow-x:auto;
    }
    .mobile-custom{
        display: block;
        border-top: groove;
        border-bottom: groove;
        padding: 20px;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;        
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;        
        padding-right: 10px;
        white-space: nowrap;
    }
	/* Label the data */
    th:nth-of-type(1):before { content: "Facility Name:\A "; white-space: pre; }
	th:nth-of-type(2):before { content: "Specialty:\A "; white-space: pre; }    
}

/*iPhone 6/7/8 Plus*/
@media screen and (max-width: 414px){
    tfoot tr {
        max-width:324px !important;
        width: 324px !important;
    }
}

/*Pixel 2 and Pixel 2 XL*/
@media screen and (max-width: 411px){
    tfoot tr {
        max-width:321px !important;
        width: 321px !important;
    }
}

/*iPhone 6/7/8/X*/
@media screen and (max-width: 375px){
    tfoot tr {
        max-width: 285px !important;
        width: 285px !important;
    }
}

/*Galaxy S5*/
@media screen and (max-width: 360px){
    tfoot tr {
        max-width:270px !important;
        width: 270px !important;
    }
}

/*iPhone 5/SE*/
@media screen and (max-width: 320px){
    tfoot tr {
        max-width:230px !important;
        width: 230px !important;
    }
}

@media screen and (max-width: 350px) {
    /*.header-notifications-wrapper {
        margin-top: 18%;
    }

    .btn-login {
        margin-top: 25%;
    }*/
}

.labelNoWeight {
   font-weight: 100 !important;
}