﻿<link href="~/Content/ppDataTable.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/BuildSelect.js"></script>
<script src="~/Scripts/DowntimeAdult.js"></script>
<div>
    <div>

        <table id="downtimeadult" class="table table-striped table-bordered" style="width:100%">

            <thead>
                <tr>
                    <th>Service Line</th>
                    <th>Down Time Document</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot style="display:table-header-group">
                <tr>
                    <th>Service Line</th>
                    <th>Down Time Document</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

