﻿@using PP93Helix.Feature.PageContent.Models
@model Schedule
   
<style>
    p {
        padding-right:50px;
    }
    .hospitalDiv {
        float:left;
        width:175px;
    }
    h3 {
        text-align:center;
        color:grey;
        height:50px;
    }
</style> 
<div>
    @if (Model != null)
    {
       <div>
           @foreach (var item in Model.schedules)
           {
            <div class="hospitalDiv">
                <h3 ><b>@item.facility</b></h3>
                <hr class="dark-hr marginT-5">
                @foreach (var a in item.departments)
                {
                    <p><a href="@a.link">@a.Department1</a></p>
                }
            </div>
           }
          
        </div>
    }

</div>
