﻿@using Sitecore.Mvc
@using Sitecore.Abstractions
@using Sitecore.Pipelines.GetSignInUrlInfo
@using System.Web.Mvc 

@{ var corePipelineManager = DependencyResolver.Current.GetService<BaseCorePipelineManager>();
  var args = new GetSignInUrlInfoArgs("website", "/Home");
  GetSignInUrlInfoPipeline.Run(corePipelineManager, args);
  <style>
    .pp-hr-icons {
      height: 0px;
    }

    .nav-icons li, .header-search-wrapper, .header-notifications-wrapper, .header-login-wrapper, .header-notifications-wrapper-mobile, .header-login-wrapper-mobile, .navbar-toggle  {
      display: none !important;
    }
  </style>

  foreach (var signIn in args.Result)
  {
    using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @action = signIn.Href }))
    {
      <div class="pp-login">
        <div class="form-head text-center">
          <h4>User Login</h4>
          <hr>
        </div>
        <div class="login-box-btn">
          <button type="submit" id="loginButton"><img src="@signIn.Icon" />@signIn.Caption</button>
        </div>
      </div>
    }
  }
}