﻿@using Sitecore.Mvc;
@using Sitecore.Data.Fields;
@using PP93Helix.Feature.PageContent.Models
@model UpcomingEventsList

<div class="row">
    <div class="col-md-12 upcoming-events">
        <a href="/home/physicians corner/events calendar"><h3>@Model.ComponentTitle</h3></a>
        <div class="bg-white">
            @if (Model.Events != null && Model.Events.Count > 0)
            {
                foreach (UpcomingEvent ev in Model.Events)
                {
                    <a href="/home/physicians corner/events calendar?selected=@ev.ID">
                        <div class="upcoming-event">
                            <div class="upcoming-date">
                                <div class="upcoming-month">@ev.Start.DateTime.ToString("MMM").ToUpper()</div>
                                <div class="upcoming-day">@ev.Start.DateTime.Day</div>
                            </div>
                            <div class="upcoming-info">
                                <div class="upcoming-title color-blue opensans-bold">
                                    @ev.Title
                                </div>
                                <div class="upcoming-location">
                                    @ev.Location
                                </div>
                            </div>
                        </div>
                    </a>
                }
            } else
            {
                <div class="upcoming-event">
                    No Upcoming Events At This Time
                </div>
            }

        </div>
    </div>
</div>

