﻿@using PP93Helix.Feature.PageContent.Models;
@model string

<style>
    #event-info {
        margin-top: 15%;
    }
    .event-img {
        margin: 25px 0;
    }

    .fc-more {
        font-weight: bold;
    }

    .fc-more-cell {
        line-height: 1;
    }
</style>

<div class="row">
    <div class="col-md-8">
        <div id="calendar"></div>
    </div>
    <div class="col-md-4">
        <div id="event-info">
            <h2 id="event-title">Select an Event</h2>
            <div id="event-img"></div>
            <p id="event-details"></p>
            <p id="event-location"></p>
            <p id="event-start"></p>
            <p id="event-end"></p>
        </div>
    </div>
</div>

<script>
    var selectedEvent;
    var evList;
    var eventClasses;
    $(document).ready(function () {
        evList = $.parseJSON(@Html.Raw(Json.Encode(Model)));
        console.log('evList ', evList);

        $('#calendar').fullCalendar({
            // Calendar options and callbacks go here
            events: evList.Events,
            selectable: true,
            unselectAuto: true,
            timezone: 'local',
            eventLimit: true,
            //allDayDefault: true,
            header: {
                left: 'prev,next',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            views: {
                agendaWeek: {
                    columnFormat: 'dd D'
                }
            },
            eventClick: getClickedEvent 
        });

        location.queryString = {};
        location.search.substr(1).split("&").forEach(function (pair) {
            if (pair === "") return;
            var parts = pair.split("=");
            location.queryString[parts[0]] = parts[1] &&
                decodeURIComponent(parts[1].replace(/\+/g, " "));
        });
        
        if (location.queryString.selected) {
            selectedEvent = $('#calendar').fullCalendar('clientEvents', location.queryString.selected);
            
            $('#calendar').fullCalendar('gotoDate', selectedEvent.start);
            
            displaySelectedEvent();
        }
    });
    
    var getClickedEvent = function() {
        eventClasses = $(this)[0].classList;
        var id = "";
        $.each(eventClasses, function (i) {
            if (eventClasses[i].indexOf('fc-') === -1) {
                id = eventClasses[i];
            }
        });
                
        selectedEvent = $('#calendar').fullCalendar('clientEvents', id);
        displaySelectedEvent();
    }

    function displaySelectedEvent() {
        if (selectedEvent) {
            //console.log(selectedEvent);

            var title = selectedEvent[0].title;
            $('#event-title').text(title);

            var imgUrl = selectedEvent[0].imgUrl;
            if (imgUrl && imgUrl != "") {
                $('#event-img').html('<img src="' + imgUrl + '" class="img-responsive event-img"/>');
            } else {
                $('#event-img').html('');
            }

            var details = selectedEvent[0].details;
            if (details) {
                $('#event-details').html(details);
            } else {
                $('#event-details').html('');
            }

            var location = selectedEvent[0].location;
            if (location) {
                $('#event-location').html('<strong>Location:</strong> ' + location);
            } else {
                $('#event-location').html('');
            }

            var start = selectedEvent[0].start.format("ddd, MMM Do YYYY, h:mm a");
            $('#event-start').html('<strong>Start:</strong> ' + start);

            var end;
            if (selectedEvent[0].allDay === true) {
                end = "All day event";
            } else {
                if (selectedEvent[0].end) {
                    end = selectedEvent[0].end.format("ddd, MMM Do YYYY, h:mm a");
                }
            } 
            $('#event-end').html('<strong>End:</strong> ' + end);
        }
    }

</script>
