﻿@model PP93Helix.Feature.PageContent.Models.FacetViews
@using System.Collections.Generic
@*@if (Model != null)
{
    <select name = "@Model.Facet.Key" class="form-control">
        <option value = "" @if (string.IsNullOrEmpty(Model.Filter)) { <text>selected</text> }> Select Option </option>
            @foreach(KeyValuePair < string, int > item in Model.Facet.Value)
            {
                <option value = "@item.Key" @if (@item.Key.Equals(Model.Filter)) { <text>selected</text> }> @item.Key - @item.Value </option>
            }
    </select>
}*@

@if (Model != null)
{
    List<string> facetList = Model.Facet.Value;
    //facetList = facetList.OrderBy(o => o.Key).ToList();
    <select name="@Model.Facet.Key" class="form-control">
        <option value="" @if ((Model.Filter == null) || ((Model.Filter.Count == 1) && (Model.Filter[0].Equals("")))) { <text> selected</text> }> Select Option </option>
        @*@foreach (KeyValuePair<string, int> item in Model.Facet.Value)*@
        @foreach (var item in facetList)
        {
            <option value="@item" @if (Model.Filter.Contains(item)) { <text> selected</text> }> @item </option>
        }
    </select>
}
