﻿@model PP93Helix.Feature.PageContent.Models.FacetViews
@*@if (Model != null)
{
    <div class="radio checked">
        <label><input type="radio" name="@Model.Facet.Key" value="" @if (string.IsNullOrEmpty(Model.Filter)) { <text> checked</text> } /><text>No Preference</text></label>
    </div>
    foreach (KeyValuePair<string, int>
        item in Model.Facet.Value)
    {
        <div class="radio checked">
            <label><input type="radio" name="@Model.Facet.Key" value="@item.Key" @if (@item.Key.Equals(Model.Filter)) { <text> checked</text> }>@item.Key <text>-</text> @item.Value</label>
        </div>
    }
}*@

@if (Model != null)
{
    @*<div class="radio checked">
        <label><input type="radio" name="@Model.Facet.Key" value="" @if ((Model.Filter == null) || ((Model.Filter.Count == 1) && (Model.Filter[0].Equals("")))) { <text> checked</text> } /><text>No Preference</text></label>
    </div>*@
    foreach (var item in Model.Facet.Value)
    {
        <div class="radio checked">
            <label><input type="radio" name="@Model.Facet.Key" value="@item" @if (Model.Filter.Contains(item)) { <text> checked</text> }>@item</label>
        </div>
    }
}
