﻿@using BHUser.Models;
@using PP93Helix.Feature.PageContent.Controllers
@using PP93Helix.Feature.PageContent.Helpers;
@using PP93Helix.Feature.PageContent.Models;
@using Sitecore.Configuration;
@using Sitecore.Data;
@using Sitecore.Data.Items;
@model BHSearch.Models.PhysicianResultsView
@{
    string FAPFolderKey = Settings.GetSetting("FAPFolderKey");
    // get url item
    var fapList = new MediaLibrary { FileList = new List<MediaFiles>() };

    var ArticleFolderID = new ID(FAPFolderKey);

    fapList.FileList = MediaLibraryController.GetMediaArticles(ArticleFolderID);
}
@if (Model != null)
{
    int count = Model.Start;
    if (Model.Physicians.Count > 0)
    {
        var found = false;
        foreach (var item in Model.Physicians)
        {
            count++;
            var imagePath = item.PhotoURL;
            if (string.IsNullOrEmpty(imagePath))
            {
                foreach (var t in fapList.FileList.Where(t => t.Title == item.ContentID))
                {
                    imagePath = t.Path;
                    break;
                }
            }
            if (string.IsNullOrEmpty(imagePath))
            {
                imagePath = "../../Images/placeholder.png";
            }
            <li class="fap-result">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-2">
                        <div class="result-image">
                            <span class="result-num">@count.</span>
                            <img class="fap-img" onerror="this.src='/Images/placeholder.png'" src="@imagePath">
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-4 col-md-4 dr-info-left">
                        <div class="dr-name">
                            <a class="dr-url" href="@item.Path">
                                @item.FirstName @item.LastName@if (!string.IsNullOrEmpty(item.Suffix))
                                {
                                    <span class="dr-suffix">, @item.Suffix</span>
                                }
                            </a>
                        </div>
                        <div class="dr-specialty">@item.PrimarySpecialty</div>
                        @*<div class="dr-practice">@item.PracticeName</div>*@
                        <div class="dr-gender">@item.Gender</div>
                        @if (item.Languages != null)
                        {
                            for (int i = 0; i < item.Languages.Length; i++)
                            {
                                @item.Languages[i]
                                if (i != item.Languages.Length - 1)
                                {
                                    @Html.Raw(", ")
                                }
                            }
                        }
                    </div>
                    <div class="col-xs-8 col-xs-push-4 col-sm-4 col-sm-push-0 col-sm-pull-0 col-md-4 dr-info-right">
                        @if (item.PrimaryLocation != null)
                        {
                            <div class="dr-phone"><a href="tel:@item.PrimaryLocation[6]">@item.PrimaryLocation[6]</a></div>
                            <div class="dr-practice-name">@item.PracticeName</div>
                            <div><span class="dr-address-1">@item.PrimaryLocation[0]</span><span class="dr-address-2"> @item.PrimaryLocation[1]</span></div>
                            <div>
                                <span class="dr-city">@item.PrimaryLocation[3],</span><span class="dr-state"> @item.PrimaryLocation[4]</span><span class="dr-zip"> @item.PrimaryLocation[5]</span>
                            </div>
                            <span class="latlng" style="display:none;">@item.PrimaryLocationLatLng</span>
                        }

                        @if (item.OtherLocations != null)
                        {
                            <div class="dr-more-locations"><a onclick="showMoreLocations($(this));"><span class="more-locations-txt">Show More Locations</span> <span class="more-locations-icon fa fa-angle-down"></span></a></div>
                            //int locationCount = 0;
                            <div class="hidden-locations" style="display:none">

                                <div class="hidden-location">
                                    <div class="dr-phone"><a href="tel:@item.OtherLocations[0].Phone1">@item.OtherLocations[0].Phone1</a></div>
                                    <div><span class="dr-address-1">@item.OtherLocations[0].Address1</span><span class="dr-address-2"> @item.OtherLocations[0].Address2</span></div>
                                    <div>
                                        @if (!string.IsNullOrEmpty(item.OtherLocations[0].City) && !string.IsNullOrEmpty(item.OtherLocations[0].State) && !string.IsNullOrEmpty(item.OtherLocations[0].Zip))
                                        {
                                            <span class="dr-city">@item.OtherLocations[0].City,</span>

                                            <span class="dr-state"> @item.OtherLocations[0].State</span>

                                            <span class="dr-zip"> @item.OtherLocations[0].Zip</span>
                                        }
                                    </div>
                                    @try
                                    {
                                        string locString = @item.OtherLocations[0].Address1 + " " + item.OtherLocations[0].City + " " + item.OtherLocations[0].State + " " + item.OtherLocations[0].Zip;
                                        <a class="dr-more-directions" target="_blank" href="https://www.google.com/maps/dir/Your+location/@locString">
                                            Directions
                                        </a>
                                    }
                                    catch (Exception e)
                                    {
                                        var message = e.Message;
                                    }

                                </div>
                            </div>
                        }
                    </div>
                    @if (item.PrimaryLocation != null)
                    {
                        <div class="col-xs-4 col-xs-pull-8 col-sm-8 col-sm-push-4 col-md-push-0 col-md-pull-0 col-md-2">
                            <span class="distance-value" style="display: none;"><span class="fa fa-map-marker distance-marker"></span> @item.Distance.ToString("0.00") mi</span>
                            @{
                                string primaryString = @item.PrimaryLocation[0] + " " + @item.PrimaryLocation[3] + " " + @item.PrimaryLocation[4] + " " + @item.PrimaryLocation[5];
                            }
                            <button target="_blank" onclick="window.open('https://www.google.com/maps/dir/Your+Location/@primaryString', '_blank');" class="fap-btn dr-get-directions">
                                Get Directions
                            </button>
                        </div>
                    }
                </div>
                <hr class="fap-result-hr">
            </li>
        }
    }
    else
    {

        <li class="fap-result">No results found</li>
    }
}