﻿@using BHUser.Models;
@using PP93Helix.Feature.PageContent.Controllers
@using PP93Helix.Feature.PageContent.Models
@using Sitecore.Data
@using Sitecore.Configuration;
@model Physician

@{
    string FAPFolderKey = Settings.GetSetting("FAPFolderKey");
    // get url item
    MediaLibrary fapList = new MediaLibrary();
    fapList.FileList = new List<MediaFiles>();

    ID ArticleFolderID = new ID(FAPFolderKey);

    fapList.FileList = MediaLibraryController.GetMediaArticles(ArticleFolderID);
    var web = Factory.GetDatabase("web");

}
<div class="col-xs-12" id="copylinkdiv" style="display:none">
    <div class="col-xs-12" style="display:none" id="copylinkText">
        <p class="profile-copylink-text pull-right">Link Copied!</p>
    </div>
    <div class="input-group">
        <input id="copylink" value="" type="text" class="form-control pull-right">
        <span class="input-group-btn">
            <button class="btn btn-default" id="copy-link-btn" type="button">Copy</button>
        </span>
    </div>
</div>

<div class="col-xs-12">
    <div class="profile-print-share">
        <span id="print-profile"><span class="profile-span-social icon-print"></span> Print</span>
        <span id="share-profile"><span class="profile-span-social icon-share"></span> Share</span>
    </div>
</div>


<div class="row" id="print-div">
    <div class="col-md-12">

        <!-- DESKTOP bootstrap -->
        <div class="hidden-sm hidden-xs profile-dr-wrapper">
            <div class="row">
                <!--INNER row-->
                <div class="col-md-4">
                    <div class="profile-dr-image">
                        @{
                            string imagePath = null;
                            if (string.IsNullOrEmpty(Model.PhotoURL))
                            {
                                for (int i = 0; i < fapList.FileList.Count; i++)
                                {
                                    if (fapList.FileList[i].Title == Model.EchoID)
                                    {
                                        imagePath = fapList.FileList[i].Path;
                                        break;
                                    }
                                }
                            }
                            else
                            {
                                imagePath = Model.PhotoURL;
                            }
                            if (string.IsNullOrEmpty(imagePath))
                            {
                                imagePath = "/Images/placeholder-lg.png";
                            }
                        }
                        <img class="fap-img" onerror="this.src='/Images/placeholder-lg.png'" src="@imagePath">
                    </div>
                </div><!--END col-md-4-->
                <div class="col-md-8">
                    <div class="profile-dr-info">
                        <h1 class="profile-h1">
                            @Model.FirstName @Model.LastName@if (!string.IsNullOrEmpty(Model.Suffix))
                            {
                                <span class="dr-suffix">, @Model.Suffix</span>
                            }
                        </h1>
                        <h3 class="profile-h3">@Model.PrimarySpecialty</h3>
                        <ul class="profile-ul">
                            <li>
                                <a onclick="toggleBio($(this));"><span class="profile-span icon-bio"></span><span class="toggle-bio">Read Biography</span></a>
                                <div class="hidden-biography" style="display:none;">
                                    @Model.Biography
                                    <ul>
                                        <li>@Model.PrimarySpecialty</li>
                                        @if (Model.OtherSpecialties != null)
                                        {
                                            foreach (string specialty in Model.OtherSpecialties)
                                            {
                                                <li>@specialty</li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </li>

                            @if (Model.Education != null && !string.IsNullOrEmpty(Model.Education[0]) && !string.IsNullOrEmpty(Model.Education[2]))
                            {
                                <li><span class="profile-span icon-education"></span>@Model.Education[0].Replace("&#39;", "'"), @Model.Education[2]</li>
                            }
                            @*<li><a href=""><span class="profile-span icon-email"></span>jmoreno@bhjax.com</a></li>*@
                            @if (Model.PrimaryLocation != null && !string.IsNullOrEmpty(Model.PrimaryLocation[6]))
                            {
                                <li><span class="profile-span icon-phone"></span>Office: @Model.PrimaryLocation[6]</li>
                            }

                            @if (!string.IsNullOrEmpty(Model.CellPhoneNumber))
                            {
                                <li><span class="profile-span icon-phone"></span>Cell: @Model.CellPhoneNumber</li>
                            }

                            @if (!string.IsNullOrEmpty(Model.PagerNumber))
                            {
                                <li><span class="profile-span icon-phone"></span>Pager: @Model.PagerNumber</li>
                            }

                            <li><span class="profile-span icon-location"></span>@Model.PracticeName</li>
                        </ul>
                    </div>
                </div> <!--END col-md-8 -->
            </div> <!--END inner row -->
        </div> <!--END profile-dr-wrapper-->
        <!-- END desktop bootstrap-->
        <!-- MOBILE bootstrap -->
        <div class="hidden-md hidden-lg hidden-xl row">
            <!--INNER row-->
            <div class="col-xs-12">
                <div class="profile-dr-image inline-block">
                    <img onerror="this.src='/Images/placeholder-lg.png'" src="@Model.PhotoURL">
                </div>
                <div class="inline-block dr-title">
                    <h1 class="profile-h1">
                        @Model.FirstName @Model.LastName@if (!string.IsNullOrEmpty(Model.Suffix))
                        {
                            <span class="dr-suffix">, @Model.Suffix</span>
                        }
                    </h1>
                    <h3 class="profile-h3">@Model.PrimarySpecialty</h3>
                </div>
            </div><!--END col-xs-12-->
        </div> <!--END inner row -->
        <div class="hidden-md hidden-lg hidden-xl row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <div class="profile-dr-info">

                    <ul class="profile-ul">
                        <li>
                            <a onclick="toggleBio($(this));"><span class="profile-span icon-bio"></span><span class="toggle-bio">Read Biography</span></a>

                            <div class="hidden-biography" style="display:none;">
                                @Model.Biography
                                <ul>
                                    <li>@Model.PrimarySpecialty</li>
                                    @if (Model.OtherSpecialties != null)
                                    {
                                        foreach (string specialty in Model.OtherSpecialties)
                                        {
                                            <li>@specialty</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </li>

                        @if (Model.Education != null && !string.IsNullOrEmpty(Model.Education[0]) && !string.IsNullOrEmpty(Model.Education[2]))
                        {
                            <li><span class="profile-span icon-education"></span>@Model.Education[0].Replace("&#39;", "'"), @Model.Education[2]</li>
                        }
                        @*<li><a href=""><span class="profile-span icon-email"></span>jmoreno@bhjax.com</a></li>*@
                        @if (Model.PrimaryLocation != null && !string.IsNullOrEmpty(Model.PrimaryLocation[6]))
                        {
                            <li><span class="profile-span icon-phone"></span>Office: <a href="tel:@Model.PrimaryLocation[6]">@Model.PrimaryLocation[6]</a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.CellPhoneNumber))
                        {
                            <li><span class="profile-span icon-phone"></span>Cell: <a href="tel:@Model.CellPhoneNumber">@Model.CellPhoneNumber</a></li>
                        }
                        @if (!string.IsNullOrEmpty(Model.PagerNumber))
                        {
                            <li>
                                <span class="profile-span icon-phone"></span>Pager:
                                <a href="tel:@Model.PagerNumber">@Model.PagerNumber</a>
                            </li>
                        }
                        <li><span class="profile-span icon-location"></span>@Model.PracticeName</li>
                    </ul>
                </div>
            </div> <!--END col-md 8 -->
        </div> <!--end col-md-8 row -->
        <!-- END mobile bootstrap -->
    </div>
    <div class="col-md-4 hidden-md hidden-lg hidden-xl">
        <div class="profile-details-wrapper">
            <div class="profile-details-div">
                <a class="fa-toggle" data-toggle="collapse" href="#accordion-schedule"><p class="size-24 padB-5">Schedule<i class="fa fa-angle-down float-right" style="font-size:40px;"></i></p></a>
                <div id="accordion-schedule" class="collapse details-card">
                    <p class="size-20 color-blue padB-10">Friday, July 1</p>
                    <p class="size-16">ON CALL SCHEDULE</p>
                    <p class="size-14">Dr. Moreno is on call today until 10pm.</p>
                    <p class="size-14 color-blue bold">View Calendar</p>
                    <hr class="no-border">
                    <p class="size-16">UPCOMING SURGERIES</p>
                    <p class="size-14">Wednesday, January 18</p>
                    <p class="size-14">2:30 pm - 4:00 pm</p>
                    <p class="size-14">5:00 pm - 8:00 pm</p>
                    <p class="size-14 color-blue bold">More Details</p>
                </div> <!-- END #accordion-schedule -->
            </div>
        </div> <!--END profile-details-wrapper-->
    </div> <!--END col-md-4-->
    <!-- END details mobile -->
</div><!--END row -->
<script src="~/Scripts/CKEditor4/ckeditor.js"></script>
<script>
    var ckInstance;
    $(document).ready(function () {
        $('#print-profile').on('click', function () {
            Print();
        });
        $('#share-profile').on('click', function () {
            toggleLink();
        });

        CKEDITOR.replace('PostBody', {
            on: {
                instanceReady: function (e) {
                    ckInstance = e.editor;
                }
            }
        });
    });

    //JQUERY PRINT FUNCTION EXECUTION
    function Print() {

        $('#print-div').printThis({

            debug: false,               // show the iframe for debugging
            importCSS: true,            // import page CSS
            importStyle: false,          // import style tags
            printContainer: true,       // grab outer container as well as the contents of the selector
            loadCSS: "",                // path to additional css file - use an array [] for multiple
            pageTitle: "Profile Print View",              // add title to print page
            removeInline: false,        // remove all inline styles from print elements
            printDelay: 333,            // variable print delay; depending on complexity a higher value may be necessary
            header: null,               // prefix to html
            footer: null,               // postfix to html
            base: false,                // preserve the BASE tag, or accept a string for the URL
            formValues: true,           // preserve input/form values
            canvas: false,              // copy canvas elements (experimental)
            doctypeString: "...",       // enter a different doctype for older markup
            removeScripts: false,       // remove script tags from print content
            copyTagClasses: false       // copy classes from the html & body tag
        });
    }

    //WHEN CLICKING SHARE BUTTON INPUT APPEARS WITH PROFILE LINK AND ABLE TO COPY
    function toggleLink() {

        $('#copylinkdiv').toggle();
        var url = window.location.href;     // Returns full URL
        $('#copylink').val(url);


        var copy_link_btn = document.querySelector('#copy-link-btn');

        copy_link_btn.addEventListener('click', function (event) {
            var copyTextarea = document.querySelector('#copylink');
            copyTextarea.select();

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                console.log('Copying text command was ' + msg);
                $('#copylinkText').css('display', 'unset');

            } catch (err) {
                console.log('Oops, unable to copy');
            }
        });

    };

    function check_form() {
        var data = ckInstance.getData();
        if (typeof data === "undefined" || data === null || data == '' || data === '<p>&nbsp;</p>') {
            alert('Editor value cannot be empty!');
            return false;
        }
        else
            return true;
    }
    function toggleBio(target) {
        $('.hidden-biography').toggle();
        $('.toggle-bio').each(function () {
            if ($(this).text() == "Read Biography") {
                $(this).text("Hide Biography");
            } else {
                $(this).text("Read Biography");
            }
        });
    }
    
</script>