﻿@using PP93Helix.Feature.PageContent.Models;
@model Alerts


@if (Model.SystemAlerts!=null)
{
        foreach (SystemAlert alert in Model.SystemAlerts)
        {
        <div class="row alert-row">
            <div class="col-xs-12">
                <div class="alert-wrapper row">
                    @*<a href="">*@
                    <div class="col-xs-2 col-md-1">
                        <img src="~/Images/Icons/exclamation.png">
                    </div>
                    <div class="col-xs-10 col-md-11" style="padding-left:0;">
                        <span class="hidden-xs"><strong>System Alert:</strong>&nbsp;@alert.Message</span>
                        <span class="hidden-sm hidden-md hidden-lg"><strong>System Alert</strong><span class="span-underline alert-details hand-cursor"><strong>Details Here</strong></span></span>
                        <div style="display:none" class="modal-alert-details" alert-title="System Alert">@alert.Message</div>
                        @*</a>*@
                        @*<a href="">
                                <img class="alert-x pull-right" src="~/Images/Icons/x-close.png">
                            </a>*@
                    </div>
                </div>
            </div>
        </div>
        }
}
@foreach (Alert alert in Model.CurrentAlerts)
{
    <div class="row alert-row">
        <div class="col-xs-12">
            <div class="alert-wrapper row">
                @*<a href="">*@
                <div class="col-xs-2 col-md-1">
                    <img src="~/Images/Icons/exclamation.png">
                </div>
                 <div class="col-xs-10 col-md-11" style="padding-left:0;">
                     <span class="hidden-xs"><strong>@alert.Title:</strong>&nbsp;@alert.Details</span>
                     <span class="hidden-sm hidden-md hidden-lg"><strong>@alert.Title</strong><span class="span-underline alert-details hand-cursor"><strong>Details Here</strong></span></span>
                     <div style="display:none" class="modal-alert-details" alert-title="@alert.Title">@alert.Details</div>
                     @*</a>*@
                     @*<a href="">
            <img class="alert-x pull-right" src="~/Images/Icons/x-close.png">
        </a>*@
                 </div>  
            </div>
        </div>
    </div>
}

<script>
    $('.alert-details').click(function () {
        // Get alert details from hidden div
        var $details = $(this).closest('.alert-wrapper').find('.modal-alert-details');
        var alertTitle = $details.attr('alert-title');
        var alertDetails = $details.html();

        //Pass to universal modal. true parameter indicates the modal can be closed by clicking anywhere off the modal
        showModal(alertTitle, alertDetails, true);
    })
</script>
