﻿@using Sitecore.Mvc;
@using PP93Helix.Feature.PageContent.Models;
@model InfoHub


<h3 class="align-center color-grey">Medical Staff Office Info Hub</h3>
<hr class="dark-hr marginT-5">

@foreach (var item in Model.ArticleTeasers)
{
    <div id="info-hub-div">
        <a href="@item.Path">
            <h3 class="site-search-result-name">@item.Title</h3>
        </a>
        <div class="row">
            @if (!string.IsNullOrWhiteSpace(item.Thumb)) //if image field == empty? currently its not pulling empty value bc of the way we had to specify 'Thumb' since images are a special field
                {
                <div id="infohub-thumbnail" class="col-xs-4">
                    <img src="@item.Thumb">
                </div>
                <div class="col-xs-8">
                    <span class="color-fade-grey">@item.Date.DateTime.ToString("MMM") @item.Date.DateTime.ToString("dd")</span>
                    <p id="infohub-subheading" class="color-grey">@item.Subheading</p>
                </div>
            }
            else
            {
                <div class="col-xs-12">
                    <span class="color-fade-grey">@item.Date.DateTime.ToString("MMM") @item.Date.DateTime.ToString("dd")</span>
                    <p id="infohub-subheading" class="color-grey">@item.Subheading</p>
                </div>
            }
        </div>
        <hr class="dark-hr">
    </div>


}
