﻿
@{
    Layout = null;
}

<div class="row">
    <div class="col-xs-12">
        <div class="pp-breadcrumbs">
            <ol>
                <li><a href="profile-page.html">Home</a></li>
                <li><a href="landing-page-rehab.html">Rehabilitation Services</a></li>
                <li><a href="landing-details-rehab.html">Rehabilitation of Athletic Injuries</a></li>
            </ol>
        </div>
        <div class="profile-print-share">
            <a href=""><span class="profile-span-social icon-print"></span><span>Print</span></a>
            <a href=""><span class="profile-span-social icon-share"></span><span>Share</span></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1 class="pp-landing-header">Rehabilitation of Athletic Injuries</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-push-8">
        <div class="landing-related-wrapper">
            <a class="hidden-md hidden-lg fa-toggle block" data-toggle="collapse" href="#accordion-details-related"><span class="site-search-filter-title">Related<i class="fa fa-angle-down float-right" style="font-size:40px;"></i></span></a>
            <div id="accordion-details-related">
                <hr class="hidden-md hidden-lg">
                <p>RELATED LINKS</p>
                <ul class="ul-landing-section">
                    <li><a href="">Lorem Ipsum</a></li>
                    <li><a href="">Dolor Sit Amet</a></li>
                    <li><a href="">Consectetur Adipiscing Elit</a></li>
                    <li><a href="">Sed Do Eiusmod Tempor Incidunt</a></li>
                </ul>
            </div> <!--END #accordion-landing-related-->
        </div> <!--END landing-related-wrapper-->
    </div>

    <div class="col-md-8 col-md-pull-4">
        <img class="float-left padR-20" src="images/landing-page/landing-details-rehab.png"> <p class="float-none size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed.</p>

        <p class="size-14">Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>

        <p class="size-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
    </div>


</div>
<div class="row hidden-xs hidden-sm">
    <h2 class="landing-h2">Training Videos</h2>
    <div class="col-md-4 landing-vids-row">

        <img src="images/landing-page/video-thumb-1.png">
        <a href="" class="training-vids-anchor">
            <p>Rehabilitation of Athletic Injuries I:</p>
            <p>Video Course Title</p>
        </a>
    </div>
    <div class="col-md-4 landing-vids-row">

        <img src="images/landing-page/video-thumb-2.png">
        <a href="" class="training-vids-anchor">
            <p>Rehabilitation of Athletic Injuries II:</p>
            <p>Video Course Title</p>
        </a>
    </div>
    <div class="col-md-4 landing-vids-row">

        <img src="images/landing-page/video-thumb-3.png">
        <a href="" class="training-vids-anchor">
            <p>Rehabilitation of Athletic Injuries III:</p>
            <p>Video Course Title</p>
        </a>
    </div>

</div> <!--END row Training Videos (desktop)-->

<div class="row hidden-md hidden-lg">
    <h2 class="landing-h2">Training Videos</h2>
    <div class="landing-vids-row landing-slick">
        <div class="slick-slide">

            <img src="images/landing-page/video-thumb-1.png">
            <a href="" class="training-vids-anchor">
                <p>Rehabilitation of Athletic Injuries I:</p>
                <p>Video Course Title</p>
            </a>
        </div>
        <div class="slick-slide">

            <img src="images/landing-page/video-thumb-2.png">
            <a href="" class="training-vids-anchor">
                <p>Rehabilitation of Athletic Injuries II:</p>
                <p>Video Course Title</p>
            </a>
        </div>
        <div class="slick-slide">

            <img src="images/landing-page/video-thumb-3.png">
            <a href="" class="training-vids-anchor">
                <p>Rehabilitation of Athletic Injuries III:</p>
                <p>Video Course Title</p>
            </a>
        </div>
    </div>
</div> <!--END row Training Videos (mobile)-->
