﻿@{
    Layout = null;
}

<div class="row">
    <div class="col-xs-12">
        <div class="pp-breadcrumbs">
            <ol>
                <li><a href="profile-page.html">Home</a></li>
                <li><a href="landing-page-rehab.html">Rehabilitation Services</a></li>
            </ol>
        </div>
        <div class="profile-print-share">
            <a href=""><span class="profile-span-social icon-print"></span><span>Print</span></a>
            <a href=""><span class="profile-span-social icon-share"></span><span>Share</span></a>
        </div>
    </div><!--END col-xs-12-->
</div><!--END row breadcrumb/share-->

<div class="row">
    <div class="col-xs-12">
        <h1 class="pp-landing-header">Rehabilitation Services</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <img src="images/landing-page/landing-banner.png">
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="landing-related-wrapper">
            <a class="hidden-md hidden-lg fa-toggle block" data-toggle="collapse" href="#accordion-landing-related"><span class="site-search-filter-title">Related<i class="fa fa-angle-down float-right" style="font-size:40px;"></i></span></a>
            <div id="accordion-landing-related">
                <hr class="hidden-md hidden-lg">
                <p>IN THIS SECTION</p>
                <ul class="ul-landing-section">
                    <li><a href="">Cardiac Rehabilitation</a></li>
                    <li><a href="">Pulmonary Rehabilitation</a></li>
                    <li><a href="">Orthopedic Rehabilitation</a></li>
                    <li><a href="">Neurological Rehabilitation</a></li>
                    <li><a href="">Wolfson Children's Rehabilitation</a></li>
                </ul>
                <p>RELATED LINKS</p>
                <ul class="ul-landing-related">
                    <li><a href="">Lorem Ipsum</a></li>
                    <li><a href="">Dolor Sit Amet</a></li>
                    <li><a href="">Consectetur Adipiscing Elit</a></li>
                    <li><a href="">Sed Do Eiusmod Tempor Incididunt</a></li>
                </ul>
                <button class="btn btn-profile-more marginT-15">VIEW MORE</button>
            </div> <!--END #accordion-landing-related-->
        </div> <!--END landing-related-wrapper-->
    </div>
    <div class="col-md-8">
    </div>
</div> <!--END row Related/Wall-->

<h2 class="landing-h2 hidden-xs hidden-sm">Training Videos</h2>
<div class="row hidden-xs hidden-sm">
    <div class="col-md-4 landing-vids-row">

        <img src="images/landing-page/video-thumb-1.png">
        <a href="" class="training-vids-anchor">
            <p>Rehabilitation of Athletic Injuries I:</p>
            <p>Video Course Title</p>
        </a>
    </div>
    <div class="col-md-4 landing-vids-row">

        <img src="images/landing-page/video-thumb-2.png">
        <a href="" class="training-vids-anchor">
            <p>Rehabilitation of Athletic Injuries II:</p>
            <p>Video Course Title</p>
        </a>
    </div>
    <div class="col-md-4 landing-vids-row">

        <img src="images/landing-page/video-thumb-3.png">
        <a href="" class="training-vids-anchor">
            <p>Rehabilitation of Athletic Injuries III:</p>
            <p>Video Course Title</p>
        </a>
    </div>

</div> <!--END row Training Videos (desktop)-->

<h2 class="landing-h2 hidden-md hidden-lg">Training Videos</h2>
<div class="row hidden-md hidden-lg">
    <div class="landing-vids-row landing-slick">
        <div class="slick-slide">

            <img src="images/landing-page/video-thumb-1.png">
            <a href="" class="training-vids-anchor">
                <p>Rehabilitation of Athletic Injuries I:</p>
                <p>Video Course Title</p>
            </a>
        </div>
        <div class="slick-slide">

            <img src="images/landing-page/video-thumb-2.png">
            <a href="" class="training-vids-anchor">
                <p>Rehabilitation of Athletic Injuries II:</p>
                <p>Video Course Title</p>
            </a>
        </div>
        <div class="slick-slide">

            <img src="images/landing-page/video-thumb-3.png">
            <a href="" class="training-vids-anchor">
                <p>Rehabilitation of Athletic Injuries III:</p>
                <p>Video Course Title</p>
            </a>
        </div>
    </div>
</div> <!--END row Training Videos (mobile)-->

<h2 class="landing-h2">Documents</h2>
<div class="row">
    <div class="col-xs-12">
        <ul class="landing-documents-ul">
            <li><a href=""><span class="landing-span icon-document"></span>Text Document Autem Quibusdam</a></li>
            <li><a href=""><span class="landing-span icon-spreadsheet"></span>Spreadsheet Debitis aut Necessitatibus</a></li>
            <li><a href=""><span class="landing-span icon-presentation"></span>Presentation ut et voluptates repundiandae sint et molestia non</a></li>
            <li><a href=""><span class="landing-span icon-pdf"></span>PDF Document Itaque Earum</a></li>
            <li><a href=""><span class="landing-span icon-presentation"></span>Rerum Tenetur a Sapiente Delectus</a></li>
            <li><a href=""><span class="landing-span icon-spreadsheet"></span>Aut Reiciendis Voluptatibus</a></li>
            <li><a href=""><span class="landing-span icon-document"></span>Maiores Alias Consequatur</a></li>
            <li><a href=""><span class="landing-span icon-zip-archive"></span>Archive_Perferendis_Doloribus.zip</a></li>
            <li><a href=""><span class="landing-span icon-document"></span>Asperiores Repellat</a></li>
        </ul>
    </div>
</div> <!--END row Documents-->


<h2 class="landing-h2">Libraries</h2>
<div class="row landing-libraries-row vertical-align-2">
    <!-- <div class="landing-col-wrapper"> -->
    <div class="col-md-3 vertical-align-col">
        <a href=""><img src="images/landing-page/logo-ebsco.png"></a>
        <a href=""><p>EBSCO</p></a>
    </div>
    <div class="col-md-3 vertical-align-col">
        <a href=""><img src="images/landing-page/logo-clinicalkey.png"></a>
        <a href=""><p>ClinicalKey</p></a>
    </div>
    <div class="col-md-3 vertical-align-col">
        <a href=""><img src="images/landing-page/logo-pubmed.png"></a>
        <a href=""><p>PubMed.gov</p></a>
    </div>
    <div class="col-md-3 vertical-align-col">
        <a href=""><img src="images/landing-page/logo-medline.png"></a>
        <a href=""><p>Medline</p></a>
    </div>
    <!-- </div> --> <!--END col-wrap-->
</div>