﻿@{
    Layout = null;
}

<div class="row hidden-xs hidden-sm">
    <div class="col-xs-12">
        <div class="pp-breadcrumbs">
            <ol>
                <li><a href="profile-page.html">Home</a></li>
                <li><a href="medical-library.html">Medical Library</a></li>
            </ol>
        </div>
        <div class="profile-print-share">
            <a class="hidden-xs hidden-sm" href=""><span class="profile-span-social icon-print"></span><span>Print</span></a>
            <a href=""><span class="profile-span-social icon-share"></span><span>Share</span></a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-9 col-md-12">
        <h2 class="landing-h2">Medical Library</h2>
    </div>
    <div class="col-xs-3 hidden-md hidden-lg">
        <div class="profile-print-share-mobile padT-10">
            <a href=""><span class="profile-span-social icon-share"></span><span>Share</span></a>
        </div>
    </div>
</div>
<div class="row landing-libraries-row vertical-align-2 library-slick">
    <!-- <div class="landing-col-wrapper"> -->
    <div class="col-md-3 vertical-align-col slick-slide">
        <!-- 					<div class="slick-slide"> -->
        <a href=""><img src="images/landing-page/logo-ebsco.png"></a>
        <a href=""><p>EBSCO</p></a>
        <!-- 				</div> -->
    </div>
    <div class="col-md-3 vertical-align-col slick-slide">
        <!-- 					<div class="slick-slide"> -->
        <a href=""><img src="images/landing-page/logo-clinicalkey.png"></a>
        <a href=""><p>ClinicalKey</p></a>
        <!-- 				</div> -->
    </div>
    <div class="col-md-3 vertical-align-col slick-slide">
        <!-- 					<div class="slick-slide"> -->
        <a href=""><img src="images/landing-page/logo-pubmed.png"></a>
        <a href=""><p>PubMed.gov</p></a>
        <!-- 				</div> -->
    </div>
    <div class="col-md-3 vertical-align-col slick-slide">
        <!-- 					<div class="slick-slide"> -->
        <a href=""><img src="images/landing-page/logo-medline.png"></a>
        <a href=""><p>Medline</p></a>
        <!-- 				</div> -->
    </div>
    <div class="col-md-3 vertical-align-col slick-slide">
        <!-- 					<div class="slick-slide"> -->
        <a href=""><img src="images/landing-page/logo-medline.png"></a>
        <a href=""><p>Medline</p></a>
        <!-- 				</div> -->
    </div>
    <!-- </div> --> <!--END col-wrap-->
</div>

<div class="row">
    <div class="col-md-4">
        <div class="landing-related-wrapper">
            <a class="hidden-md hidden-lg fa-toggle block" data-toggle="collapse" href="#accordion-library"><span class="site-search-filter-title">Related<i class="fa fa-angle-down float-right" style="font-size:40px;"></i></span></a>
            <div id="accordion-library">
                <hr class="hidden-md hidden-lg">
                <p>LIBRARY QUICK LINKS</p>
                <ul class="ul-landing-section">
                    <li><a href="">Corporis suscipit laboriosam, nisi ut aliquid ex ea commodi</a></li>
                    <li><a href="">Quis autem vel deum iure reprehenderit qui in ea voluptate velit esse quam nihil</a></li>
                    <li><a href="">Consequatur vel illum</a></li>
                    <li><a href="">Qui dolorem eum fugiat quo </a></li>
                    <li><a href="">Voluptas nulla pariatur</a></li>
                    <li>
                        <a href="">
                            Ut enim ad minima veniam, quis
                            nostrum exercitationem ullam
                        </a>
                    </li>
                </ul>
                <hr class="accordion-hr">
                <p>FREQUENTLY ASKED QUESTIONS</p>
                <ul class="ul-landing-section">
                    <li>
                        <a class="fa-toggle-faq" data-toggle="collapse" href="#faq-1"><i class="fa fa-plus"></i>&ensp;Corporis suscipit laboriosam, nisi ut aliquid ex ea commodi</a>
                        <div class="collapse" id="faq-1"><p class="faq-p">First answer.</p></div>
                    </li>
                    <li><a class="fa-toggle-faq" data-toggle="collapse" href="#faq-2"><i class="fa fa-plus"></i>&ensp;Quis autem vel deum iure reprehenderit qui in ea voluptate velit esse quam nihil</a><div class="collapse" id="faq-2"><p class="faq-p">Second answer.</p></div></li>
                    <li><a class="fa-toggle-faq" data-toggle="collapse" href="#faq-3"><i class="fa fa-plus"></i>&ensp;Consequatur vel illum</a><div class="collapse" id="faq-3"><p class="faq-p">Third answer.</p></div></li>
                    <li><a class="fa-toggle-faq" data-toggle="collapse" href="#faq-4"><i class="fa fa-plus"></i>&ensp;Qui dolorem eum fugiat quo </a><div class="collapse" id="faq-4"><p class="faq-p">Fourth answer.</p></div></li>
                    <li>
                        <a class="fa-toggle-faq" data-toggle="collapse" href="#faq-5"><i class="fa fa-plus"></i>&ensp;Voluptas nulla pariatur</a><div class="collapse" id="faq-5">
                            <p class="faq-p">
                                Ut enim ad minima veniam, quis
                                nostrum exercitationem ullam
                            </p><p class="faq-p">
                                Corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                            </p>
                            <p class="faq-p">Quis autem vel deum iure reprehenderit qui in ea voluptate velit esse quam nihil</p>
                        </div>
                    </li>
                    <li><a class="fa-toggle-faq" data-toggle="collapse" href="#faq-6"><i class="fa fa-plus"></i>&ensp;Consequatur vel illum</a><div class="collapse" id="faq-6"><p class="faq-p">Sixth answer.</p></div></li>
                    <li><a class="fa-toggle-faq" data-toggle="collapse" href="#faq-7"><i class="fa fa-plus"></i>&ensp;Qui dolorem eum fugiat quo </a><div class="collapse" id="faq-7"><p class="faq-p">Seventh answer.</p></div></li>
                    <li><a class="fa-toggle-faq" data-toggle="collapse" href="#faq-8"><i class="fa fa-plus"></i>&ensp;Voluptas nulla pariatur</a><div class="collapse" id="faq-8"><p class="faq-p">Eighth answer.</p></div></li>
                    <li>
                        <a class="fa-toggle-faq" data-toggle="collapse" href="#faq-9">
                            <i class="fa fa-plus"></i>&ensp;Ut enim ad minima veniam, quis
                            nostrum exercitationem ullam
                        </a><div class="collapse" id="faq-9"><p class="faq-p">Ninth answer.</p></div>
                    </li>
                </ul>
            </div> <!--END #accordion-library-->
        </div> <!--END landing-related-wrapper-->
    </div>
    <div class="col-md-8">
        <p>Web Forms For Marketers here</p>
    </div>
</div> <!--END row Related/Wall-->

<div class="row">
    <div class="col-xs-12">

    </div>
</div>
