﻿@using Sitecore.Mvc;
@model BHSearch.Models.SiteSearchResultView

@if (Model != null)
{
    if (Model.Results != null && Model.Results.Count > 0)
    {
        //var count = Model.Start + 1;

        foreach (var item in Model.Results)
        {
            if (item.Type == "People")
            {
                var photoURL = item.PhotoURL;

                <div class="site-search-result-wrapper">
                    <a class="site-search-result-anchor" href="@item.Path">
                        <h3 class="site-search-result-name">Dr. @item.FirstName @item.LastName</h3>
                        <div class="row">
                            <div class="col-xs-4 col-sm-2">
                                <div class="search-result-img-container"><img onerror="this.src='../../Images/placeholder.png'" src="@photoURL" ></div>
                            </div><!--END col-xs-2-->
                            <div class="col-xs-8 col-sm-10">
                                <p class="site-search-result-type">People @(!string.IsNullOrEmpty(item.PrimarySpecialty) ? ("- " + item.PrimarySpecialty) : "")</p>
                            @if(item.Biography != null)
                            {
                                var bio = (string)item.Biography[0];
                                bio = bio.Replace("His areas of expertise include:", "");
                                bio = bio.Replace("Her areas of expertise include:", "");
                                bio = bio.Replace("His areas of expertise are:", "");
                                bio = bio.Replace("Her areas of expertise are:", "");
                               <p> 
                                    @bio
                                </p>
                            }
                               
                            </div><!--END col-xs-10"-->
                        </div><!--END row-->
                        <hr>
                    </a>
                </div><!--END site-search-result-wrapper-->
            }

            else if (item.Type == "Event")
            {
                string URL = "/sitecore/content/home/physicians%20corner/events%20calendar?selected=" + item.UniqueID;
                <div class="site-search-result-wrapper">
                    <a class="site-search-result-anchor" href="@URL">
                        <h3 class="site-search-result-name">@item.Title</h3>
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="site-search-result-type">@item.Type</p>
                                @if (item.Details != null)
                                {
                                    <p>
                                        @item.Details[0]
                                    </p>
                                }
                                @if (!string.IsNullOrEmpty(item.Location))
                                {
                                    <p><strong>Location:</strong> @item.Location</p>
                                }
                                <p><strong>Start:</strong> @item.Start.ToString("d/M/yy h:mm tt")</p>
                                @if (!item.AllDay)
                                {
                                    <p><strong>End:</strong> @item.End.ToString("d/M/yy h:mm tt")</p>
                                }
                                else
                                {
                                    <p><strong>All Day Event</strong></p>
                                }
                            </div><!--END col-xs-10"-->
                        </div><!--END row-->
                        <hr>
                    </a>
                </div><!--END site-search-result-wrapper-->

            }
            else if (item.Type == "Document")
            {
                <div class="site-search-result-wrapper">
                    <a class="site-search-result-anchor" href="@item.Path">
                        <h3 class="site-search-result-name">@item.Title</h3>
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="site-search-result-type">@item.Type</p>
                                @if (item.SubHeading != null)
                                {
                                    <p>
                                        @item.SubHeading[0]
                                    </p>
                                }
                            </div><!--END col-xs-10"-->
                        </div><!--END row-->
                        <hr>
                    </a>
                </div><!--END site-search-result-wrapper-->
            }
            else
            {
                <div class="site-search-result-wrapper">
                    <a class="site-search-result-anchor" href="@item.Path">
                        <h3 class="site-search-result-name">@item.Title</h3>
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="site-search-result-type">@item.Type</p>
                            @if (item.SubHeading != null)
                            {
                                <p>
                                    @item.SubHeading[0]
                                </p>
                            } 
                            </div><!--END col-xs-10"-->
                        </div><!--END row-->
                        <hr>
                    </a>
                </div><!--END site-search-result-wrapper-->
            }

            //count++;
        }
    }
    else
    {
        <div class="col-xs-3 hidden-xs"></div>
        <div class="col-xs-2 hidden-lg"></div>
        <div class="col-xs-9 dcenter-nodoc">No results found</div>
    }
}