﻿@using Sitecore.Mvc

<div class="container bg-white">
    <div id="heading" class="row">
        <div class="col-md-12">
            <h1 class="pp-header">@Html.Sitecore().Field("heading")</h1>
        </div>
    </div>
    <div class="row">
        <!-- SITE SEARCH RESULTS FILTER DESKTOP -->
        <div class="col-md-3">
             <!-- Currently hiding this section on mobile via hidden-sm & hidden-xs -->
            <div class="hidden-sm hidden-xs site-search-filter-wrapper">
                <div class="site-search-filter">
                    <div class="form-group">

                        <span class="hidden-xs hidden-sm site-search-filter-title">Filter by<span class="btn site-search-filter-clear">Clear All</span></span>

                        <a class="hidden-md hidden-lg fa-toggle block" data-toggle="collapse" href="#accordion-site-search-filter"><span class="site-search-filter-title">Filter by<i class="fa fa-angle-down float-right" style="font-size:40px;"></i></span></a>

                    </div>
                    <div id="accordion-site-search-filter">
                        <div class="form-group">
                            <hr>
                            <p class="marginB-5">TYPE</p>

                            <label class="site-search-label" for="search-people"><input id="search-people" name="type" type="checkbox" value="1a889b78c81e424fa416e51c4c34d343"> <span></span> People</label>

                            <label class="site-search-label" for="search-events"><input id="search-events" name="type" type="checkbox" value="693f3916a5434fd2894628b9ce58bf53"> <span></span> Events</label>

                            <label class="site-search-label" for="search-articles"><input id="search-articles" name="type" type="checkbox" value="28345347c9b4460eb4e77f5890a42724"> <span></span> Articles</label>

                            <label class="site-search-label" for="search-documents"><input id="search-documents" name="type" type="checkbox" value="0603F16635B8469F8123E8D87BEDC171,166927339A6145E6B0D44C0C06F8DD3C,7BB0411F50CD4C21AD8F1FCDE7C3AFFE"> <span></span> Documents</label>

                            <label class="site-search-label" for="search-pages"><input id="search-pages" name="type" type="checkbox" value="11df60986a874552b1b3ea0c17bed057,c4b668aa8c554e8daaa9824e1f1562fc,8e5c6d895e7a4a778209dadd7f17a539"> <span></span> Pages</label>

                        </div><!--END input-group-->
                    </div><!--END #accordion-site-search-filter-->
                </div>
            </div><!--END site-search-wrapper-->
        </div><!--END col-md-3-->
        <!--END SITE SEARCH RESULTS FILTER DESKTOP-->


        <div class="col-md-9 hidden-xs hidden-sm">
            <form id="site-search-form" name="site-search-form" class="site-search-form">
                <div class="form-group">
                    <input id="site-search-input" class="site-search-input" name="site-search-input" placeholder="Search" type="text"><a href="" class="profile-paperclip-anchor"><i class="fa fa-search s-icon ss-icon-pos query-solr"></i></a>
                </div><!--END form-group-->
            </form>
        </div><!--END col-md-9-->
        <div class="col-md-9">
            <p class="site-search-result-number show-on-results" style="display:none;"><span id="result-count">3</span> Results for <span id="search-term">Stewart Morgan</span></p>
            <div id="results">

            </div>
        </div><!--END col-md-9-->
    </div> <!--END row-->
    <div class="pagination-wrap show-on-results" style="display:none;">
        <div id="now-showing" class="col-md-6">Showing 0 - 0 of 0 entries</div>
        <div id="pagination" class="col-md-6"></div>
    </div>
</div> <!--END container-->

<script type="text/javascript" src="~/Scripts/site-search.js"></script>
<script>
    function querySolr(query) {
        if (query && query.Query != "") {
            sessionStorage.setItem("sessionQuery", JSON.stringify(query));
            $.post('/api/Sitecore/SiteSearch/SiteQuery', query,
                function (data) {
                    //console.log(data);
                    showResults(data);
            }).fail(function (data) { console.log('failed data ', data); })
        }
    };
</script>