﻿@using Sitecore.Mvc;
@if (!Sitecore.Context.User.IsAuthenticated)
{
    <style>
        .hide-unauthed {
            display: none !important;
        }
    </style>
}

<div class="footer-outer-container">
    <div class="container">
        <div class="row footer-row-1">
            <div class="col-xs-12">
                <div class="footer-ul-1-wrapper footer-ul-1">
                    <div class="footer-ul-1">
                        <span class="footer-ul-1li"><a href="/home">Home</a></span>
                        <span class="hide-unauthed">
                            <span>|</span>
                            <span class="footer-ul-1li"><a href="/contactus">Contact Us</a></span>
                        </span>
                    </div>
                    <div class="row footer-row-2">
                        <div class="col-xs-12">
                            <div class="footer-ul-2">
                                <span class="hide-gethelp">
                                    <span class="footer-ul-2li"><a href="/gethelp">Need Help <i class="fa fa-question-circle-o"></i></a></span>
                                </span>
                            </div>
                        </div>
                    </div> <!--END footer-row-2-->
                    <div class="row footer-row-2" style="padding-top:15px">
                        <div class="col-xs-12">
                            <div class="footer-ul-2">
                                <span class="footer-ul-2li">Baptist Health <i class="fa fa-copyright"></i> 2018</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--END footer-row-1-->
        
    </div> <!--END container-->
</div> <!--END footer-outer-container-->
