﻿@using System.Security.Claims
@using Sitecore;
@using Sitecore.Data;
@using Sitecore.Data.Items;
@using Sitecore.Security;
@using Sitecore.Security.Accounts;
@using Sitecore.Links;
@model PP93Helix.Feature.PageContent.Models.PpHeader
@{
  var defaultUrlOptions = LinkManager.GetDefaultUrlBuilderOptions();
  defaultUrlOptions.EncodeNames = true;

  var claim = ClaimsPrincipal.Current.Identities.First().Claims.FirstOrDefault(x => x.Type == "echoid");
  string echoID = "";
  string userName = "";
  if (claim!=null)
  {
    echoID = claim.Value;
  }
  userName = Sitecore.Context.User.Name;
}
<div class="header-outer-container-1">
  <hr class="pp-hr-icons no-margin hidden-xs" />

  <div class="container">

    <!-- DESKTOP header -->
    <div class="row hidden-xs hidden-sm">
      <!-- <div class="container-fluid-wrapper"> -->
      <div class="col-md-3 text-right">
        <a id="home-link" href="/sitecore/content/home"><img src="@Model.logo.SiteLogoURL"></a>
      </div> <!-- END logo column -->
      <div class="col-md-6">
        <!-- <div class="row"> -->
        <div class="input-group header-search-wrapper">
          <span class="input-group-btn">
            <div class="dropdown header-search-dropdown">
              <button class="btn btn-primary dropdown-toggle gs-filter" type="button" data-toggle="dropdown" aria-expanded="false">
                All
                <!-- <span class="caret"></span> --><i class="fa fa-angle-down"></i>
              </button>

              <ul class="dropdown-menu">
                <li><a href="#">All</a></li>
                <li><a href="#">People</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Articles</a></li>
                <li><a href="#">Documents</a></li>
                <li><a href="#">Pages</a></li>
              </ul>
            </div> <!-- END dropdown -->
          </span>
          <input id="gs-input" type="text" class="form-control header-search-input" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-primary gs-submit" type="button">Go</button>
          </span>
        </div>
        <div class="non-physician-header" style="display:none">
          <h2 class="color-grey">@Html.Sitecore().Field("heading")</h2>
        </div>
        <!-- </div> -->
      </div> <!-- END search bar column -->
      <div class="col-md-3" style="text-align: right;">
        @if (Sitecore.Context.User.IsAuthenticated)
        {
          try
          {
            if (Request.Cookies["userid"] == null)
            {
              Response.Cookies.Add(new HttpCookie("userid", Sitecore.Context.User.Name));
            }
          }
          catch (Exception ex)
          { }

          string profileURL = "";
          //string echoID = Sitecore.Context.User.Profile.GetPropertyValue("EchoID").ToString();
          if (!string.IsNullOrEmpty(echoID))
          {
            Item physicianProfile = Sitecore.Context.Database.GetItem("/sitecore/content/search/providers/" + echoID);

            profileURL = physicianProfile != null ? LinkManager.GetItemUrl(physicianProfile, defaultUrlOptions) : "";
            profileURL = profileURL.Replace("/sitecore/content", "");
          }

          <div class="header-login-wrapper inline-block text-left">
            <div class="header-login-dropdown">
              @if (!string.IsNullOrEmpty(profileURL))
              {
                <span class="size-14">
                  Welcome, <a href="@profileURL" class="social-profile-link">
                   @Sitecore.Context.User.Profile.GetPropertyValue("FullName") 
                  </a>
                </span>
              }
              else
              {
                <span class="size-14">Welcome, @Sitecore.Context.User.Profile.GetPropertyValue("FullName")</span>

              }
              @if (!string.IsNullOrEmpty(@echoID))
              {
                <span id="echoID" style="display:none;">@echoID</span>
              }
              else
              {
                <span id="echoID" style="display: none">@userName</span>
              }
              <span id="FN" style="display:none;">@Sitecore.Context.User.Profile.GetPropertyValue("FullName")</span>
            </div>
            @using (Html.BeginForm("logout", "Shared", FormMethod.Post))
            {
              <button class="btn-logout block color-blue" name="logout" type="submit" value="logout">Logout</button>
            }
          </div>
        }
      </div>
      <!-- </div> --> <!--END container-fluid-wrapper-->
    </div> <!--END desktop row-->
    <!-- END DESKTOP HEADER -->
    <!-- MOBILE HEADER -->
    <div class="hidden-md hidden-lg hidden-xl">

      <div class="col-xs-6 mobile-header-logo">
        <a href="/sitecore/content/home"><img src="@Model.logo.SiteLogoURL"></a>
      </div> <!--END logo column-->
      <div class="col-xs-6 mobile-notifications inline-block">
        @*<div class="header-notifications-wrapper-mobile">
              <a href=""><img style="margin-left: 25px;" src="~/Images/header/icon-notifications.png"><span class="icon-notification-pill"><span class="number-notifications">13</span></span></a>
          </div>*@
        @if (Sitecore.Context.User.IsAuthenticated)
        {
          string profileURL = "";
          //string echoID = Sitecore.Context.User.Profile.GetPropertyValue("EchoID").ToString();
          if (!string.IsNullOrEmpty(echoID))
          {
            Item physicianProfile = Sitecore.Context.Database.GetItem("/sitecore/content/search/providers/" + echoID);

            profileURL = physicianProfile != null ? LinkManager.GetItemUrl(physicianProfile, defaultUrlOptions) : "";
            profileURL = profileURL.Replace("/sitecore/content", "");
          }
          <div class="header-login-wrapper-mobile">
            @if (!string.IsNullOrEmpty(profileURL))
            {
              <span class="size-14">Welcome, <a href="@profileURL" class="social-profile-link">@Sitecore.Context.User.Profile.GetPropertyValue("FullName") </a> </span>
            }
            else
            {
              <span class="size-14">Welcome, @Sitecore.Context.User.Profile.GetPropertyValue("FullName") </span>
            }
            @using (Html.BeginForm("logout", "Shared", FormMethod.Post))
            {
              <button class="btn-logout block color-blue" name="logout" type="submit" value="logout">Logout</button>
            }
          </div>
        }
      </div>
    </div> <!--END mobile header-row-1-->
  </div> <!--END container-->
</div> <!--END header-outer-container-1-->

<div class="header-outer-container-2">
  <div class="container">

    <div class="row header-row-2 hidden-md hidden-lg hidden-xl">
      <div class="col-xs-12 center-block">
        <!--<div class="text-center">-->
        <div class="header-search-wrapper vertical-align">
          <div class="input-group">
            <span class="input-group-btn">
              <div class="dropdown header-search-dropdown">
                <button class="btn btn-primary dropdown-toggle gs-filter" type="button" data-toggle="dropdown" aria-expanded="false">
                  All
                  <!-- <span class="caret"></span> --><i class="fa fa-angle-down"></i>
                </button>

                <ul class="dropdown-menu">
                  <li><a href="#">All</a></li>
                  <li><a href="#">People</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">Documents</a></li>
                  <li><a href="#">Articles</a></li>
                  <li><a href="#">Pages</a></li>
                </ul>
              </div> <!-- END dropdown -->
            </span>
            <input id="gs-mobile-input" type="text" class="form-control header-search-input" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-primary gs-submit" type="button">Go</button>
            </span>
          </div> <!--END input-group-->
        </div> <!--END header search wrapper-->
        <!--</div>--> <!--END text-center-->
      </div>
    </div>
    <!--END MOBILE HEADER-->


  </div> <!--END container-->
</div> <!--END header-outer-container-2-->

<nav class="navbar navbar-inverse pp-navbar">
  <div class="container no-padding">

    <!--modal button*-->
    <div class="navbar-header margin-0">
      <button type="button" class="navbar-toggle" data-toggle="modal" data-target="#myModal">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content nav-modal">
          <div class="modal-header nav-modal-head text-center">

            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            @if (Model != null && Model.nav != null)
            {
              foreach (var ppNav in Model.nav)
              {
                <label class="modal-navDrops">@ppNav.NavItemText</label>
                <div>
                  @if (ppNav.NavLinks != null && ppNav.NavLinks.Count > 0)
                  {
                    <ul>
                      @foreach (var ppNavLinks in ppNav.NavLinks)
                      {
                        <li><a href="@ppNavLinks.NavLinkURL">@ppNavLinks.NavLinkText</a></li>
                      }
                    </ul>
                  }
                </div>
              }
            }
            <label class="modal-navDrops"></label>

            <div class="row">
              <ul class="modal-icons col-xs-12">
                @foreach (var icon in Model.icons)
                {
                  <li class="col-xs-3"><a href="@icon.LinkUrl"><figure><img src="@icon.IconImgUrl"><figcaption>@icon.IconText</figcaption></figure></a></li>
                }
              </ul>
            </div>


          </div>
        </div>

      </div>
    </div>




    <div class="collapse navbar-collapse no-padding" id="myNavbar">
      <div class="pp-navbar-inner">
        <ul class="nav navbar-nav top-nav">
          @if (Model != null && Model.nav != null)
          {
            foreach (var ppNav in Model.nav)
            {
              <div class="dropdown">
                <li class="dropbtn"><i class="fa fa-chevron-down" aria-hidden="true"></i> @ppNav.NavItemText</li>
                @if (ppNav.NavLinks != null && ppNav.NavLinks.Count > 0)
                {
                  <div class="dropdown-content">
                    @foreach (var ppNavLinks in ppNav.NavLinks)
                    {
                      if (!ppNavLinks.IsLink)
                      {
                        <a href='@ppNavLinks.NavLinkURL'>@ppNavLinks.NavLinkText</a>
                      }
                      else
                      {
                        <a target='blank' href='@ppNavLinks.NavLinkURL'>@ppNavLinks.NavLinkText</a>
                      }
                    }
                  </div>
                }
              </div>
            }
          }
        </ul>
        <ul class="nav-icons">
          @foreach (var icon in Model.icons)
          {
            <li><a href="@icon.LinkUrl"><figure><img src="@icon.IconImgUrl"><figcaption>@icon.IconText</figcaption></figure></a></li>
          }
        </ul>
      </div>
    </div>
  </div>


</nav>

