﻿@using System.Security.Claims
@using Sitecore;
@using Sitecore.Security;
@using Sitecore.Security.Accounts;
@model PP93Helix.Feature.PageContent.Models.PpHeader
@{
  var claim = ClaimsPrincipal.Current.Identities.First().Claims.FirstOrDefault(x => x.Type == "echoid");
  string echoID = "";
  if (claim!=null)
  {
    echoID = claim.Value;
  }
}
<div class="header-outer-container-1">
    <hr class="pp-hr-icons no-margin hidden-xs" />

    <div class="container">

        <!-- DESKTOP header -->
        <div class="row hidden-xs hidden-sm">
            <!-- <div class="container-fluid-wrapper"> -->
            <div class="col-md-3 text-right">
                <a href="/sitecore/content/non-physician home"><img src="@Model.logo.SiteLogoURL"></a>
            </div> <!-- END logo column -->
            <div class="col-md-6">
                <!-- <div class="row"> -->
                <p>&nbsp;</p>
                <!-- </div> -->
            </div> <!-- END search bar column -->
            <div class="col-md-3" style="text-align: right;">
                @*<div class="header-notifications-wrapper inline-block text-right">
                    <a href=""><img src="~/Images/header/icon-notifications.png"><span class="icon-notification-pill"><span class="number-notifications">13</span></span></a>
                </div>*@
                @if (Sitecore.Context.User.IsAuthenticated)
                {
                    <div class="header-login-wrapper inline-block text-left">
                        <div class="header-login-dropdown">
                            <span class="size-14">Welcome, @Sitecore.Context.User.Profile.GetPropertyValue("FullName")</span>

                            <span id="echoID" style="display:none;">@echoID</span>
                        </div>
                        @using (Html.BeginForm("logout", "Shared", FormMethod.Post))
                        {
                            <button class="btn-logout block color-blue" name="logout" type="submit" value="logout">Logout</button>
                    }
                    </div>
                }
            </div>
            <!-- </div> --> <!--END container-fluid-wrapper-->
        </div> <!--END desktop row-->
        <!-- END DESKTOP HEADER -->
        <!-- MOBILE HEADER -->
        <div class="hidden-md hidden-lg hidden-xl">

            <div class="col-xs-6 mobile-header-logo">
                <a href="/sitecore/content/non-physician home"><img src="@Model.logo.SiteLogoURL"></a>
            </div> <!--END logo column-->
            <div class="col-xs-6 mobile-notifications inline-block">
            @if (Sitecore.Context.User.IsAuthenticated)
            {
                <div class="header-login-wrapper-mobile">
                    <span class="size-14">Welcome, @Sitecore.Context.User.Profile.GetPropertyValue("FullName")</span>
                    @using (Html.BeginForm("logout", "Shared", FormMethod.Post))
                    {
                        <button class="btn-logout block color-blue" name="logout" type="submit" value="logout">Logout</button>
                    }
                </div>
            }
            </div>
        </div> <!--END mobile header-row-1-->
    </div> <!--END container-->
</div> <!--END header-outer-container-1-->

<div class="header-outer-container-2">
    <div class="container">

        <div class="row header-row-2 hidden-md hidden-lg hidden-xl">
            <div class="col-xs-12 center-block">
                <!--<div class="text-center">-->
                <p>&nbsp;</p>
                <!--</div>--> <!--END text-center-->
            </div>
        </div>
        <!--END MOBILE HEADER-->


    </div> <!--END container-->
</div> <!--END header-outer-container-2-->

