﻿<div class="footer-outer-container">
    <div class="container">
        <div class="row footer-row-1">
            <div class="col-xs-12">
                <div class="footer-ul-1-wrapper">
                    <ul class="footer-ul-1">
                        <li><a href="/non-physician home">Home</a></li>
                    </ul>
                </div>
            </div>
        </div> <!--END footer-row-1-->
        <div class="row footer-row-2">
            <div class="col-xs-12">
                <ul class="footer-ul-2">
                    <li>Baptist Health <i class="fa fa-copyright"></i> 2017</li>
                </ul>
            </div>
        </div> <!--END footer-row-2-->
    </div> <!--END container-->
</div> <!--END footer-outer-container-->
