﻿@using Sitecore.Mvc;
@using PP93Helix.Feature.PageContent.Models;
@model MediaLibrary

<div id="document-section">
    <div>
        <hr align="center" noshade="noshade" width="100%" />
        @if (Model.FileList != null && Model.FileList.Count > 0)
        {
            <div class="col-md-12">
                <div class="col-md-12">
                    <h3>Documents</h3>
                    <hr align="center" noshade="noshade" width="100%" />
                </div>
            </div>
            foreach (MediaFiles a in Model.FileList)
            {
                <div id="documents" class="col-md-12">
                    <div class="col-md-12">
                        <a href="@a.Path">@a.Title</a>
                    </div>
                </div>
            }
        }
    </div>
</div>
