﻿@using Sitecore.Mvc;
@using PP93Helix.Feature.PageContent.Models
@model Infomatics
<div>
    <div>
        @Html.Sitecore().Field("SubHeading")
        <hr align="center" noshade="noshade" width="100%" />
        @if (Model.AllDocsList != null && Model.AllDocsList.Count > 0)
        {
            foreach (Doc doc in Model.AllDocsList)
            {
                <div id="informatics-provider" class="col-md-12">
                    <div id="heading" class="col-md-12">
                        @doc.DocHeading
                    </div>
                    <div id="title" class="col-md-4 .col-xs-5ths">
                        <img src="@doc.Picture" class="img-responsive"/><br />
                            @doc.NameTitle
                    </div>
                    <div id="content" class="col-md-8">
                        @Html.Raw(@doc.Content)
                    </div>
            
                </div>

                <hr align="center" noshade="noshade" width="100%" />
            }
        }
    </div>
</div>
