﻿@using Sitecore.Mvc
@{
    var session = @Html.Sitecore().Field("NameTitle");
}
<div>
    <div>
        @Html.Sitecore().Field("SubHeading")

        <hr align="center" noshade="noshade" width="100%" />

        <div id="provider" class="col-md-12">
            <div id="doc-heading" class="col-md-12">
                @Html.Sitecore().Field("DocHeading")
            </div>
            <div id="doc-title" class="col-md-5 .col-xs-5ths">
                @Html.Sitecore().Field("Picture")<br />
                @Html.Sitecore().Field("NameTitle")
            </div>
            <div id="doc-content" class="col-md-7">
                @Html.Sitecore().Field("Content")
            </div>

        </div>
    </div>
</div>
