﻿<div class="content-wrap">
    @*<h1>@Html.Sitecore().Field("Heading")</h1>*@
    <div class="sub-content">
        <h3>
            @Html.Sitecore().Field("SubHeading")
        </h3>
    </div>
    @Html.Sitecore().Field("Main Image", Model.PageItem, new { @class = "img-responsive", @align = "right", @hspace = "10" })
    <div class="content-text">
        @Html.Sitecore().Field("Body")
    </div>
</div>
