﻿@using Sitecore.Mvc;
@using PP93Helix.Feature.PageContent.Models;
@model RelatedDocuments

<h2 class="landing-h2">@Model.ComponentTitle</h2>
<div>
    <ul class="landing-documents-ul">
        @foreach (Document doc in Model.Documents)
        {
            <li><a target="_blank" href="@doc.Path"><img class="doc-icon" src="@doc.Icon" />@doc.Title</a></li>
        }
    </ul>
</div>
