﻿@model PP93Helix.Feature.PageContent.Models.PageLinkAdBanner

<style>
    .ad-banner {
        margin: 20px 0;
    }
</style>

<div class="col-md-12 ad-banner">
    <a href="@Model.linkUrl">
        <img src="@Model.imgUrl" class="img-responsive" />
    </a>
</div>
