﻿@using PP93Helix.Feature.PageContent.Models;
@model Faq


<p>FREQUENTLY ASKED QUESTIONS</p>
<ul class="ul-landing-section">
    @foreach (var item in Model._relLinks)
    {
        <li>
            <a class="fa-toggle-faq" data-toggle="collapse" href="#faq-1"><i class="fa fa-plus"></i>&ensp;Corporis suscipit laboriosam, nisi ut aliquid ex ea commodi</a>
            <div class="collapse" id="faq-1"><p class="faq-p">First answer.</p></div>
        </li>
    }

</ul>