﻿

<h1 class="size-24">Make a Request</h1>
<hr>
<h3 class="size-18 marginB-60">Choose from the options below to acquire research publications regarding your medical needs.</h3>
<div class="size-14 align-center">
    <div style="display:flex;justify-content:center;">
        <a href="https://www.google.com" target="_blank" type="button" class="btn btn-primary btn-library" role="button">LIBRARY SEARCH</a>
    </div>
   @* <p class="align-left marginT-10 marginB-10">Mediated Literature Search Service by the Medical Librarian to locate information and evidence-based literature related to patient care, performance improvement, administration or other research. Allow three business days, except for patient care rush requests. For further assistance call <strong class="teal-text">202.1333</strong> or <strong class="teal-text">202.4325.</strong></p>*@
</div>
