﻿@using Sitecore.Mvc;
@using Sitecore.Data;
@using Sitecore.Data.Fields;
@using Sitecore.Data.Items;


@{
    ID getHelpID = new ID("C3A3C0D2-ECC1-4441-9AC8-85C9E98E02D5");
    Item getHelpItem = Sitecore.Context.Database.GetItem(getHelpID);
    <h3 class="align-center marginT-40 color-grey">Get Help</h3>
    <hr class="marginT-5 marginB-5">
    <div class="color-grey">
        @Html.Raw(getHelpItem.Fields["Rich Text Content"].Value)
    </div>
}


