﻿@using Sitecore.Mvc;
@using Sitecore.Data.Items;
@using PP93Helix.Feature.PageContent.Helpers;
@using Sitecore.Links;
@{ 
    var title = RenderingHelper.GetValueFromCurrentRenderingParameters("ComponentTitle") != "" ? RenderingHelper.GetValueFromCurrentRenderingParameters("ComponentTitle") : "IN THIS SECTION"  ;
    }

<p>@title</p>
<ul>
    @{ 
        var defaultUrlOptions = LinkManager.GetDefaultUrlBuilderOptions();
        defaultUrlOptions.EncodeNames = true;
    }
    @foreach (var item in Model.Item.GetChildren())
    {
        //string itemPath = item.Paths.Path.ToString().ToLower();
        string itemPath = LinkManager.GetItemUrl(item, defaultUrlOptions);
        string itemTitle = item.Fields["Title"] != null ? item.Fields["Title"].Value : item.Name;

        <li>
            <a href="@itemPath"> @itemTitle</a>
        </li>    
    }
</ul>

