﻿@using Sitecore.Mvc;
@using Sitecore.Data;
@using Sitecore.Data.Items;
@using Sitecore.Links;
@{
    ID journalRequestID = new Sitecore.Data.ID("A240F832-8C1D-4EB3-BB51-192F596A461A");
    Item journalRequestItem = Sitecore.Context.Database.GetItem(journalRequestID);
    var defaultUrlOptions = LinkManager.GetDefaultUrlBuilderOptions();
    defaultUrlOptions.EncodeNames = true;
    var path = LinkManager.GetItemUrl(journalRequestItem, defaultUrlOptions);
    <div class="size-14 marginB-40 align-center">
        <div style="display:flex;justify-content:center;">
            <a href="@path" class="btn btn-primary btn-library">
                @journalRequestItem.Fields["Title"].Value
            </a>
        </div>
        <p class="align-left marginT-10 marginB-10">@Html.Raw(journalRequestItem.Fields["SubHeading"].Value)</p>
    </div>
}




