﻿@using Sitecore.Mvc;
@using Sitecore.Data;
@using Sitecore.Data.Items;
@using Sitecore.Links;
@{
    ID librarySearchID = new Sitecore.Data.ID("A13BC59B-DB5F-423B-9EEE-2724EEB507B9");
    Item librarySearchItem = Sitecore.Context.Database.GetItem(librarySearchID);
    var defaultUrlOptions = LinkManager.GetDefaultUrlBuilderOptions();
            defaultUrlOptions.EncodeNames = true;
    var path = LinkManager.GetItemUrl(librarySearchItem, defaultUrlOptions);
    <div class="size-14 marginB-40 align-center">
        <div style="display:flex;justify-content:center;">
            <a href="@path" class="btn btn-primary btn-library">
                @librarySearchItem.Fields["Title"].Value
            </a>
        </div>
        <p class="align-left marginT-10 marginB-10">@Html.Raw(librarySearchItem.Fields["SubHeading"].Value)</p>
    </div>
  
}
