﻿@using Sitecore.Mvc;
@using PP93Helix.Feature.PageContent.Models;
@using Sitecore.Data.Items;
@model MedDatabaseCarousel

<div class="row landing-libraries-row">
    <div class="col-sm-11 center-block">
        <div class="library-slick">

            @foreach (var slide in Model.DatabaseSlides)
            {
                <div class="slick-slide">
                    <a href="@slide.ActionUrl" target="_blank"><img src="@slide.ImageUrl"></a>
                    <a href="@slide.ActionUrl" target="_blank"><p>@slide.ActionText</p></a>
                </div>
            }

        </div> <!--END .library-slick-->
    </div> <!--END col-sm-11-->
</div> <!-- END row library-->