﻿@model PP93Helix.Feature.PageContent.Models.RelatedLinks

<p class="related-links-header">@Model.ComponentTitle</p>
<ul class="ul-landing-related">
    @foreach (var item in Model._relLinks) // we've got the data object 'Model' thats just your blue print. You've got your Controller that does the logic to fill that blueprint, and you pass that to a View and you use it.
    {
        <li>
            <a target="_blank" href='@item.LinkUrl'>@item.LinkText</a>
        </li>
    }
</ul>
@*<button class="btn btn-profile-more marginT-15">VIEW MORE</button>*@



