﻿@using Sitecore.Mvc;
@using Sitecore.Data.Fields;
@using PP93Helix.Feature.PageContent.Models;
@model ArticleListing

<h3 class="align-center color-grey">@Model.ComponentTitle</h3>
<hr class="dark-hr marginT-5">

@if (Model.isValid)
{
    foreach (var item in Model.ArticleTeasers)
    {
        <div>
            <a href="@item.Path">
                <h3 class="site-search-result-name">@item.Title</h3>
            </a>
            <div class="row">
                @if (!string.IsNullOrEmpty(item.Thumb))
                {
                    <div class="col-xs-4">
                        <img src="@item.Thumb">
                    </div>
                    <div class="col-xs-8">
                        <span class="color-fade-grey">@item.Date.DateTime.ToString("m")</span>
                        <p class="color-grey">@item.Subheading</p>
                    </div>
                }
                else
                {
                    <div class="col-xs-12">
                        <span class="color-fade-grey">@item.Date.DateTime.ToString("m")</span>
                        <p class="color-grey">@item.Subheading</p>
                    </div>
                }
            </div>
            <hr class="dark-hr">
        </div>
    }
}
else
{
    <div>Please update Rendering Parameters and select target folder(s).</div>
}

