﻿@using Sitecore.Mvc;
@using Sitecore.Data;
@using Sitecore.Data.Items;
@using Sitecore.Links;
@model PP93Helix.Feature.PageContent.Models.LibrarySearch
@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post, new { id = "journalrequest" }))
{
    @Html.Sitecore().FormHandler("LibrarySearchRequest", "SubmitLibrarySearchRequest")

    {
        var librarySearchID = new Sitecore.Data.ID("A13BC59B-DB5F-423B-9EEE-2724EEB507B9");
        var librarySearchItem = Sitecore.Context.Database.GetItem(librarySearchID);
        var defaultUrlOptions = LinkManager.GetDefaultUrlBuilderOptions();
        defaultUrlOptions.EncodeNames = true;
        var path = LinkManager.GetItemUrl(librarySearchItem, defaultUrlOptions);
        <div class="size-14 marginB-40 align-center">
            <p class="align-left marginT-10 marginB-10">@Html.Raw(librarySearchItem.Fields["SubHeading"].Value)</p>
        </div>

        <fieldset>
            <legend>Basic Info</legend>
            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary("", new { @class = "label", style = "background-color:#f2dede" })

                    <label class="label-color">* </label>@Html.LabelFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(x => x.Name)

                    <br />

                    <label class="label-color">* </label>@Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(x => x.Email)

                    <br />

                    <label class="control-label">@Html.LabelFor(x => x.CurrentDate)</label>
                    <div class='input-group date' id='datetimepicker1'>
                        @Html.TextBoxFor(x => x.CurrentDate, new { @class = "form-control", @Value = Model.CurrentDate.ToString("MMM-dd-yyyy") })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>

                    <br />


                    <label class="control-label">@Html.LabelFor(x => x.DateNeededBy)</label>
                    <div class="input-group date" id="datetimepicker2">
                        @Html.TextBoxFor(x => x.DateNeededBy, new { @class = "form-control", @Value = Model.DateNeededBy.ToString("MMM-dd-yyyy") })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <br />

                    <label class="control-label">@Html.LabelFor(x => x.Professions)</label>
                    @Html.DropDownListFor(x => x.SelectedProfession, Model.Professions, new { @class = "form-control" })

                    <br />

                    <label class="control-label">@Html.LabelFor(x => x.Dept)</label>
                    @Html.TextBoxFor(x => x.Dept, new { @class = "form-control" })

                    <br />

                    <label class="control-label">@Html.LabelFor(x => x.Locations)</label>
                    @Html.DropDownListFor(x => x.SelectedLocation, Model.Locations, new { @class = "form-control" })

                    <br />

                </div>
                </div>
        </fieldset>

        <fieldset>
            <legend>Search Request Information</legend>
            <div class="row">
                <div class="col-md-12">
                    <label class="label-color">* </label>@Html.LabelFor(x => x.SearchRequest)
                    @Html.TextAreaFor(x => x.SearchRequest, new { @class = "form-control", @required="required" })
                    <br />
                    <p>Please give a detailed statement describing the information you need. Define terms, including abbreviations, and include synonymous terms. Note material to be excluded. (1000 chars max.)</p>
                     <br />
                    
                    <label class="control-label">@Html.LabelFor(x=>x.Qualifications)</label>
                    <br/>
                    @foreach (var qual in @Model.Qualifications)
                    {
                        <input type="checkbox" value="@qual.Text" name="QualificationIds" id="@qual.Value"/>
                        <label class="labelNoWeight">@qual.Text</label>
                        <br/>
                       
                    }
                    @*@Html.HiddenFor(x=>x.SelectedQualifications)*@
                    <br/>
                    <label class="control-label">@Html.LabelFor(x=>x.Ages)</label>
                    <br/>
                    @foreach (var age in Model.Ages)
                    {
                        <input type="checkbox" value="@age.Text" name="Ages" id="@age.Value"/>
                        <label class="labelNoWeight">@age.Text</label>
                                       <br/>
                                                                 
                    }
                    <br/>
                    <label class="control-label">@Html.LabelFor(x=>x.YearsToBeCovered)</label>
                    @Html.TextBoxFor(x=>x.YearsToBeCovered, new {@class="form-control"})
                    <br/>
                    <label class="control-label">@Html.LabelFor(x=>x.SearchKinds)</label>
                    <br/>
                    @foreach (var kind in Model.SearchKinds)
                    {
                        <input type="checkbox" value="@kind.Text" name="Kinds" id="@kind.Value"/>
                        <label class="labelNoWeight">@kind.Text</label>
                                         <br/>
                    }
                    <br/>
                    <label class="control-label">@Html.LabelFor(x=>x.Audiences)</label>
                    <br/>
                    @foreach (var audience in Model.Audiences)
                    {
                        <input type="checkbox" value="@audience.Text" name="Audiences" id="@audience.Value"/>
                        <label class="labelNoWeight">@audience.Text</label>
                                             <br/>
                    }
                    <br/>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Delivery Information</legend>
            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">@Html.LabelFor(x => x.DeliveryTypes)</label>

                    <br />
                    @foreach (var c in Model.DeliveryTypes)
                    {
                        <input type="checkbox" value="@c.Text" name="DeliveryTypes" id="@c.Value"/>
                        <label class="labelNoWeight">@c.Text</label>
                        <br />
                    }
                <br />
                    <p>This is a service of Medical Library Services; please limit your requests to Baptist Health-related purposes only.</p>
                    <br />

                    <label class="control-label">@Html.LabelFor(x => x.PhoneNumber)</label>
                    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })

                    <br />
                    @Html.CheckBoxFor(x => x.Rush) @Html.LabelFor(x=>x.Rush)
                    <br/>
                    <p>RUSH PATIENT CARE ONLY (ASAP, usually less than 4 hours if requested before noon)</p>
                    <br/>
                </div>
            </div>
        </fieldset>

        <div class="form-submit-border">
            <input class="btn btn-default" type="submit" value="Submit" />
        </div>

        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    useCurrent: true,
                    locale: 'en-US',
                    format: "MMM-DD-YYYY"
                });
                $('#datetimepicker2').datetimepicker({
                   useCurrent: true,
                    locale: 'en-US',
                    format: "MMM-DD-YYYY"
                });
            });
        </script>
    }
}