﻿<div style="min-height: 550px">
    
    <div class="size-14 marginB-40 align-center">
        <p class="align-left marginT-10 marginB-10">@Html.Sitecore().Field("SubHeading")</p>
    </div>

    <div class="col-md-12">
        <p>@Html.Sitecore().Field("Body")</p>
    </div>
</div>